.activity_username { font-weight: bold; }

a.activity_card {
    font-weight: bold;
}

a.activity_card:before {
    content: "\"";
}
a.activity_card:after {
    content: "\"";
}

#activity_toggle { 
    height: 100%; 
    float: left; 
    width: 6%; 
    background: #ccc; 
}

#activity_list_container { 
    height: 100%;  
    float: right; 
    width: 94%;
}

#activity_list { 
    padding-left: .5em;
    padding-right: .5em; 
}

.activity_toggle_icon {
    position: absolute;
    top: 50%;
    color: #555; 
    padding-left: 1px;
    padding-right: 1px;
    font-weight: bold;
    height: 24px;
    width: 24px;
}

.activity_toggle_icon.show {
    display: none;
    height: 24px;
    width: 11px;
    background: #ccc url('../../assets/ic_chevron_left.png') no-repeat center center;
}

.activity_toggle_icon.hide {
    height: 24px;
    width: 12px;
    background: #ccc url('../../assets/ic_chevron_right.png') no-repeat center center;
}

div#activity_container {
    float: right;
    width: 16%;
    height: 90%;
    overflow-y: hidden;
}

ul#activity_list {
    height: 95%;
    overflow-y: scroll;
}

div#activity_container h4 {
    padding: 7px 0;
    margin: 0;
    font-weight: 400;
}
  
ul#activity_list li {
    padding: .5em 0;
    font-size: 110%;
}
