.activity_username { font-weight: bold; }

a.activity_card {
    font-weight: bold;
}

#activity_toggle { 
    height: 100%; 
    float: left; 
    width: 7%; 
    background: #ccc; 
}

#activity_list_container { 
    height: 100%;  
    float: right; 
    width: 93%;
    background: #fbfbfb;
}

#activity_list { 
    overflow-y: scroll;
}

.activity_list_item, .activity_loading {
    margin: 7px;
    padding: 7px;
    box-shadow: 1px 1px 5px #aaa;
}

.activity_toggle_icon {
    border-top-left-radius: 3px;
    position: relative;
    left: 10%;
    top: 50%;
    color: #555; 
    font-weight: bold;
    height: 24px;
    width: 24px;
}

.activity_toggle_icon.show {
    display: none;
    height: 24px;
    width: 11px;
    background: #ccc url('../../assets/ic_chevron_left.png') no-repeat center center;
}

.activity_toggle_icon.hide {
    height: 24px;
    width: 12px;
    background: #ccc url('../../assets/ic_chevron_right.png') no-repeat center center;
}

div#activity_container {
    float: right;
    width: 16%;
    height: 90%;
    overflow-y: hidden;
    background-color: #ccc;
}

ul#activity_list {
    height: 95%;
    overflow-y: scroll;
}

div#activity_container h4 {
    padding: 7px 0;
    margin: 0;
    font-weight: 400;
}
  
ul#activity_list li {
    padding: .5em 0;
    font-size: 110%;
}
