#menu {
    width: 20%;
    float: left;
    margin-right: 7px;
}

#menu ul:first li {
    padding: 7px 0px;
}


#right {
    width: 79%;
    float: left;
}

#right > div {
   margin: auto;
   width: 70%;
   position: relative;
   top: 15%;
}

#right {
    height: 90%;
}

#frame {
    height: 600px;
}

