.user_info_section {
    float: left;
    width: 10%;
}

.user_info_section > img,
.user_info_section > a {
    float: right;
}

.user_info_section > a {
    width: 49px;
}

.report_info_section div {
}

.report_info_section {
    width: 75%;
    margin-right: 10%;
    float: left;
}

.report_info_section > h4 {
    margin-bottom: 7px;
}

.section_team_reports > ul {
    list-style-type: none;
}

a.username {
    display: block;
    text-align: center;
}

.report_rule {
    margin: 7px 15px 7px 0px;
}

.report_summary {
}

.tabs_container {
    margin-top: 7px;
    margin-bottom: 7px;
}

.tab {
    margin-right: 7px;
}


.tab.active {
    border-bottom: 1px solid #ccc;
}


.section_team_reports,
.section_create_report {
    margin: 7px;
}

.section_create_report > form {
    width: 98%;
}

.section_create_report > form > input,
.section_create_report > form > textarea {
    width: 98%;
}

.section_create_report > form > input.btn {
    width: 98%;
}

.reports_accordion {
    overflow-x: hidden;
    overflow-y: auto;
}

@media screen and (min-width: 657px) {
    .section_team_reports {
        width: 48%;
        float: left;
    }

    .section_create_report {
        width: 48%;
        float: left;
    }
}

@media screen and (max-width: 657px) {
    .section_team_reports {
        width: 99%;
    }

    .section_create_report {
        width: 99%;
    }
}
