<div class="panel panel-default" style="width:150px;">
  <div class="panel-heading">
    Assign
  </div>
  <div class="panel-body">
    <div class="form" role="form">
      <div class="form-group">
        <select style="width: 100%;" id="select_assign_to" class="card_select" multiple name="assigned">
          {% for member in project.lusers %}
            <option value="{{ member._id }}" {% if member.is_assigned_to(card._id) %} selected {% endif %}>{{member.profile.username }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
  // <jinja2>
  var project_id = {{ project._id }};
  var card_id = {{ card._id }};
  // </jinja2>

  // <event type="post" entity="assignment">
  $("#select_assign_to").select2().change(function() {
    var url = "/project_id/" + project_id + "/card_id/" + card_id + "/assign";
    var assigned = $(this).val();
    console.log(assigned);
    $.post(url, { assigned: JSON.stringify(assigned) }, function(data) {
      console.log(data);
    });
  });
  // </event>
});
</script>
