<!-- BEGIN due date -->
<div>
  <a id="due_date" href="#" class="btn">
    Due Date <div class="btn_invis"></div>
    <p style="text-align: center;" id="due_date_timestamp">
{{ card.due_human }}</p> 
  </a>
  <div style="display: none;" id="due_date_dialog">
  <form id="due_date_form"
  action="/p/{{ project_name }}/{{ card_id }}/due_date" method="POST">

  <ul class="structural">
    <li>
      <label for="due_date_time">Time</label>
      <input type="text" placeholder="hh:mm" name="time"
              id="due_date_time" value="{{ card.due_time }}" />
    </li>
    <li>
      <label for="due_date_date">Date</label>
      <input type="text" placeholder="yy/mm/dd" name="date"
              id="due_date_date" />
    </li>
  </ul>

  <div class="clear"></div>
  <div style="margin-top: 10px;" id="inline_datepicker"></div>

  <div>
      <input style="width: 30%; float: left;"  
      type="submit" name="clear" value="clear" />

      <input style="width: 30%; float: right;"  
      type="submit" name="save" value="save" />

      <div class="clear"></div>
  </div>
  </form>
  </div>
  <script type="text/javascript">
  var button = $("#due_date");
  button.click(function() {
      $("#due_date_dialog").dialog({ 
        title: "Due Date", 
        resizable: false,
        width: '300px',

        position: {
          my: "left top", at: "left bottom", of: button 
        }
      });
  });

  $("#due_date_time").timepicker({
      selectOnBlur: true,
      disableTextInput: true,
  });

  $("#inline_datepicker").datepicker({
      altField: "#due_date_date",
      defaultDate: new Date( {{ card.due_date }} )
  });

  $("#due_date_form").ajaxForm({
      success: function(data) {
          // need to update this in the event the user
          // leaves it unspecified.
          $("#due_date_time").val(data['time']);
          $("#due_date_dialog").dialog("close");
          $("#due_date_timestamp").text(data.due_human);
      }
  });

  </script>
</div>
<!-- END due date -->
