<div class="panel panel-default" style="width: 150px;">
  <div class="panel-heading">
    Milestone
  </div>

  <div class="panel-body">
    <div>
      <select id="__select_milestone" style="width: 100%;" name="milestone_id">
        <option data-id="-1">None</option>
        {% for milestone in project.milestones %}
        
          <option 
            {% if milestone._id == card.milestone_id %}
              selected
            {% endif %}
            value="{{ milestone._id }}">
            
            {{ milestone.name }}
          </option>

        {% endfor %}
      </select>
    </div>

    <div class="form" id="__add_milestone_form" style="display: none; margin-top: 15px;">
      <div class="form-group">
        <input class="form-control" id="__milestone_input" type="text"
               name="name" placeholder="Milestone..." />
      </div>
      <div>
        <input id="__add_milestone_btn" class="form-control" type="submit" 
            name="submit" value="Add" class="btn btn-sm"
            style="width: 70%;" />
      </div>
    </div>

    <a style="display: block; margin-top: 15px;" id="__toggle_add_milestone" href="#">
      <span class="_true">Add Milestone</span>
      <span style="display: none;" class="_false">Hide</span>
    </a>

  </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
  // <jinja2>
  var project_id = {{ project._id }};
  var card_id = {{ card._id }};
  // </jinja2>

  var _set_current_milestone = function() {
    var url = "/project_id/" + project_id + "/card_id/" + card_id + "/milestone";
    var milestone_id = $("#__select_milestone").val();
    $.post(url, { milestone_id : milestone_id }, function(data) {
      console.log(data);
    });
  };

  // <event type="post" entity="milestone">
  $("#__select_milestone").select2().change(_set_current_milestone);
  // </event>

  // show & hide add milestone form
  $("#__toggle_add_milestone").click(function() {
    $("#__add_milestone_form").toggle();
    $(this).find("._true").toggle();
    $(this).find("._false").toggle();
  });

  // <event type="post" entity="milestone">
  $("#__add_milestone_btn").click(function() {
    var url = "/project_id/" + project_id + "/card_id/" + card_id + "/add_milestone";
    $.post(url, { name: $("#__milestone_input").val().trim() }, function(data) {
      // append the newly created option and select it automatically
      var option = $("<option/>").val(data._id).text(data.name);
      $("#__select_milestone").append(option);
      $("#__select_milestone").select2("val", data._id);
      _set_current_milestone();
    });
  });
  // </event>
});
</script>
