/* reset **********************************************************************/
html, body { width: 100%; height: 100%; padding: 0; margin: 0; }
form, ul, ol, p, li, h1, h2, h3, h4, h5, h6, div { margin: 0; padding: 0; }
div.navbar { margin-bottom: 0 }
textarea, input { color: #000; }
h1,h2,h3,h4,h5,h6 { font-weight: 100; }
* { text-shadow: none; }
small { font-family: "Open Sans"; }

/* so 'editable' buttons don't display on the same line. */
textarea { display: block; }
div.clear { clear: both; }
.content { margin: 0em .5em; }

.cc-container {
  padding: 1em;
  height: 93%;
}

/* jquery ui fixes ************************************************************/

/* fix unaligned 'x' in close button of modal */
.ui-button-icon-only .ui-icon { left: 45%; }

/* jquery ui tweaks ***********************************************************/
.ui-dialog { padding: 0; }
.ui-dialog-title { font-family: "Open Sans"; }
.ui-widget-header {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0px;
  background: #ddd;
  border: 1px solid #cfcbca;
}


/* Flash messages ************************************************************/

div.flashes {
    position: fixed; 
    top: 50%;
    left: 25%;
    width: 50%;
    background-color: #fbfbfb; 
    font-size: 120%;
    font-weight: 600;
}

div.flashes h4 {
    padding: .5em;
}

/* Forms *********************************************************************/

.structural { list-style: none; }

ul.structural.basic li input,
ul.structural.basic li select,
ul.structural.basic li label {
    width: 10em;
    margin: 1em;
}

ul.structural.basic li label { 
    float: left; 
    color: #555; 
    font-weight: bold;
    font-size: 110%; 
}

ul.structural.basic li.spacer {
    height: 1em;
    clear: both;
}

ul.structural.basic li input,
ul.structural.basic li select { float: right; }

.clear { clear: both; }

form.basic { width: 30em; }

/* Tables ********************************************************************/

#add_project_controls input[type="text"] {
    width: 94.5%;
}

#toolbox-list input[type="text"] {
    width: 10em;
    margin-right: 1em;
}

table {
    padding: 0;
    width: 100%;
}

table th {
    font-weight: bold;
}

table th, table tr td {
    text-align: left;   
    padding: 1em;
    margin: 1em;
    font-size: 110%;
    background-color: #fbfbfb;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #555;
}

.wrap {
    width: auto;
}

/** Font / Icons *************************************************************/

@font-face {
    font-family: entypo;
    src: url("/css/entypo/entypo.ttf"),
         url("/css/entypo/entypo.eot"),
         url("/css/entypo/entypo.svg");
}

/** custom scrollbars ********************************************************/

::-webkit-scrollbar {
    width: 6px;
    height: 8px;
}
 
::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: #ccc;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #999;
}


/** Add Card *****************************************************************/

ul.add_card {
  margin: 0px 7px 0px 7px;
  padding: 0;
  width: auto;
}

ul.add_card input[type="text"] {
  width: 250px;
}

ul.add_card li.input {
  float: left; 
} 

ul.add_card li.button {
  float: right;
}

/** sub-nav ******************************************************************/

div#subnav { width: 100%; height: 51px; }
div#subnav div.project_name { float: left; }
div#subnav div.buttons { float: left; }
div#subnav div.toolbox { float: right; }

div#project_name { background-color: #ccc; }
div#project_name { width: auto; }
div#project_name div.nav { float: left; margin: 10px 5px; }
div#project_name h3 { float: left; margin-right: 5px; line-height: 1em; }

div#subnav div.buttons { font-size: 18px; margin-top: 7px; margin-left: 7px; }

#toolbox { width: auto; float: right;}

/****************************/

/** do this so the table doesn't get resized when accept is clicked. */
.btn.accept_milestone { width: 95px; }

.empty_card a, .card_item a.archive.archive {
    font-size: 225%;
    float: right;
}

.empty_card p, .card_item p.text {
    font-size: 110%;
}

.empty_card p, .card_item p.date {
    font-size: 75%;
}

.card_list {
    list-style-type: none;
    margin: 0;
}


ul.card_list li {
    background-color: #fbfbfb;
    border-radius: 3px;
    padding: 5px;
}

.pile_container {
    background-color: #fbfbfb;
    border-radius: 3px;
}
 
h4.pile_title {
    float: left;
    width: 12em;
    margin: 7px 7px;
    font-weight: 400;
}

div.pile_options {
    float: right;
    padding: 7px;
}

.minimalist_bottom {
    padding-top: 5px;
}

.minimalist_top {
    padding-bottom: 5px;
}

.top_corners {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.bottom_corners {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

ul#project { padding: 0; margin: 0; }

.horizontal_left li {
    float: left;
}

.horizontal_right li {
    float: right;
}

li.card_item p span {
    white-space: normal;
}


li.card_item div.milestone {
    color: #0a0;
    font-size: 80%;
    line-height: 27px;
    height: 21px;
}

.card_label {
    color: #fbfbfb;
}

li.empty_card, li.card_item {
  min-height: 72px;
  margin-bottom: 5px;
}

li.empty_card {
  color: #fbfbfb;
}

div#piles {
  background-color: #bbb;
}

div.pile_chrome_bottom {
  height: 80px;
}

/*@media(min-width: 900px) { */
    div.content,
    div.content_nopad {
        height: 94%;
    }

    div#piles {
        border-radius: 3px;
        height: 90%;
        overflow-x: scroll;
        width: 83.6%;
        float: left;
    }

    div#piles ul#pile_list {
        width: 9999px; /* hack to fix firefox horiz scroll */
        list-style: none;
        white-space: nowrap;
        overflow: hidden;
        float: left;
        margin: 0;
        padding: 0;
        height: 99.5%;
    }


    div#activity_container h4 {
        background-color: #ccc;
        color: #555;
    }  

    div#piles ul#pile_list li {
        max-height: 99%;
    }

    .pile_container {
        margin-bottom: 1em;
        margin: 5px 5px 5px 5px;
        width: 278px;
        float: left;
        height: 100%;
    }

    .pile_container ul.card_list {
        min-height: 80px;
        max-height: 70.5%;
        overflow-x: hidden;
        /* might be something we want to remove. */
        /* overflow-y: scroll; */
        background-color: #bbb;
        padding: .5em .5em 0em .5em;
        margin: .5em .5em 0em .5em;
        border-radius: 3px;
    }
/*} */

/*
@media (max-width: 900px) {
    div#piles {
        margin-top: 5px;
        border-radius: 3px;
    }

    div#piles ul#pile_list {
        list-style: none;
        white-space: nowrap;
        overflow: hidden;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .pile_container {
        margin-bottom: 5px;
        margin: 5px 5px 5px 5px;
        float: left;
        width: 100%;
    }

    li.pile_container,
    .pile_chrome_top, .pile_chrome_bottom {
        width: 99%;
    }

    li.pile_container 
    li.card_item, .empty_card {
        width: 98%; 
    }

    .pile_container ul.card_list {
        min-height: 100px;
        background-color: #bbb;
        border-radius: 3px;
    }
}
*/

.handle { background-color: #ccc; height: 35px;}


/** reset jquery-ui fonts */
.ui-widget, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: "Open Sans", sans-serif;
}

.thumb {
}

ul {
    list-style-type: disc;
}
    

/* activity */
.activity_list_item {
    padding-bottom: 7px;
}

.activity_list_item:first {
    padding-top: 7px;
}

.section {
    font-size: 1em;
    color: #333;
    text-shadow: 1px 1px #aaa;
    margin: 7px 0px 7px;
}
