div.card_top p {
    float: left;
    display: none;
}

div.card_top div {
    float: right;
}

.ui-dialog > form ul li { width: 80%; }

.ui-dialog > br {
    line-height: .2em;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 10px 10px;
}

.ui-dialog .ui-dialog-content {
/*    padding: 10px; */
}

.ui-dialog > div form.milestone {
    float: left;
    width: 40%;
    height: 70px;
    padding: 0px 7px;
}

.ui-dialog > div.subscription {
    float: left;
    width: 28%;
    height: 70px;
    padding: 0px 7px;
}

.ui-dialog > div div.difficulty_section {
    float: left;
    width: 28%;
    height: 70px;
    padding: 0px 7px;
}

.ui-dialog > div form.assign_to {
    float: left;
    width: 100%;
    height: 70px;
    padding: 0px 7px;
    margin-bottom: 7px;
}

pre.description {
    display: block;
}

div form.milestone select, 
div form.assign_to select {
    width: 90%;
}

.card_section {
    font-size: 20px;
    color: #333;
    text-shadow: 1px 1px #aaa;
}

/* upload progressbar */
.progress {
    width: 96%;
    padding: 7px;
    margin-top: 15px;
    background-color: #ccc;
    border: 1px solid #bbb;
    height: 40px;
    display: none;
}

.progress-text {
    font-size: 12px;
}

.progress-bar-container {
    width: 100%;
    height: 10px;
    background-color: white;
}

.progress-bar {
    width: 0%;
    height: 10px;
    background: gray;
}

.wmd-preview {
    border: 1px solid #ccc;
}


.card_select{
}

.editor_hint { margin-top: 15px; }

.attachment_form {
    margin-bottom: 15px;
}

div.editable {
    width: 79%;
}

img.mini_icon {
    height: 12px;
    width: 10px;
    padding: 4px 4px;
}

a.mini_icon :hover {
    background: #ccc;
}

a.mini_icon :active {
    background: #ddd;
}

.user_info {
    width: 9%;
    float: left;
    padding: 7px;
    text-align: center;
    vertical-align: middle;
}

ul.attachments li {
    box-shadow: 1px 1px 7px #aaa;
    padding: 10px;
    margin-bottom: 10px;
    width: 96.9%;
}


div.attachment .filename,
div.attachment .image {
    margin-bottom: 10px;
    font-weight: bold;
}

div.attachment .filename_notimage {
    font-weight: bold;
    margin-top: 5px;
}

#due_date_dialog li:first-child {
    width: 50%;
    float: left;
}

#due_date_dialog li:last-child {
    width: 50%;
    float: right;
}

#due_date_dialog input[type="text"] {
    width: 113px;
}

#due_date_dialog input[type="submit"] { 
    width: 100%;
    margin-top: 10px;
}
