div.card_top p {
    float: left;
    display: none;
}

div.card_top div {
    float: right;
}

.comments_title {
    font-size: 80%;
    font-weight:bold;
}

ul.comments {
    margin: .5em 0em .5em;
}

ul.comments li {
    margin: 0;
    border-radius: 2px;
}

ul.comments li p.text {
    font-size: 90%;
}

form.comments ul li textarea {
    width: 97%;
}

.ui-dialog > form ul li { width: 80%; }

.ui-dialog > br {
    line-height: .2em;
}

.ui-dialog .ui-dialog-titlebar {
    padding: .5em .5em;
}

.ui-dialog .ui-dialog-content {
/*    padding: .5em; */
}

.ui-dialog > div form.milestone {
    float: left;
    width: 31%;
    height: 70px;
    padding: 0px 7px;
}

.ui-dialog > div div.difficulty_section {
    float: left;
    width: 25%;
    height: 70px;
    padding: 0px 7px;
}

.ui-dialog > div form.assign_to {
    float: left;
    width: 31%;
    height: 70px;
    padding: 0px 7px;
}

pre.description {
    display: block;
}

div form.milestone select, 
div form.assign_to select {
    width: 90%;
}

.card_section {
    font-size: 1em;
    color: #333;
    text-shadow: 1px 1px #aaa;
}

/* upload progressbar */
.progress {
    width: 96%;
    padding: 7px;
    margin-top: 15px;
    background-color: #ccc;
    border: 1px solid #bbb;
    height: 40px;
    display: none;
}

.progress-text {
    font-size: 12px;
}

.progress-bar-container {
    width: 100%;
    height: 10px;
    background-color: white;
}

.progress-bar {
    width: 0%;
    height: 10px;
    background: gray;
}

.wmd-preview {
    border: 1px solid #ccc;
}


.card_select{
}

.editor_hint { margin-top: 15px; }

.attachment_form {
    margin-bottom: 15px;
}

div.editable {
    width: 79%;
}

img.mini_icon {
    height: 12px;
    width: 10px;
    padding: 4px 4px;
}

a.mini_icon :hover {
    background: #ccc;
}

a.mini_icon :active {
    background: #ddd;
}

.user_info {
    width: 9%;
    float: left;
    padding: 7px;
    text-align: center;
    vertical-align: middle;
}

.comment_part {
    width: 80%;
    float: left;
    margin-left: 7px;
    margin-bottom: 7px;
    display: table;
    min-height: 60px;
}

.comment_text {
    vertical-align: middle;
    display: table-cell;
}

.comment_text:before,
.comment_text:after {
    content: "\"";
    font-size: 1.0em;
    font-weight: bold;
}

.timestamp_part {
    width: 100%;
}

.timestamp_part .timestamp {
    float: left;
    font-size: .65em;
}

.comment {
    padding-bottom: 7px;
    box-shadow: 2px 2px 10px #aaa;
    padding: 7px 7px 0px;
    margin-bottom: 7px;
    width: 96.9%;
}

.username {
    font-size: .8em;
}

