div.card_top p {
    float: left;
    display: none;
}

div.card_top div {
    float: right;
}

.comments_title {
    font-size: 80%;
    font-weight:bold;
}

ul.comments {
    margin: .5em 0em .5em;
}

ul.comments li {
    margin: 0;
    background-color: #f5f2f1;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: .5em .5em 0em .5em;
}

ul.comments li p.email {
    font-size: 70%;
    text-align: right;
}

ul.comments li p.email {
    float: right;
}

ul.comments li p.timestamp {
    font-size: 70%;
    float: left;
}

ul.comments li p.text {
    font-size: 90%;
}

form.comments ul li textarea {
    width: 443px;
}

.ui-dialog > form ul li { width: 442px; }

.ui-dialog > br {
    line-height: .2em;
}

.ui-dialog .ui-dialog-titlebar {
    padding: .5em .5em;
}

.ui-dialog .ui-dialog-content {
/*    padding: .5em; */
}

.ui-dialog > div form.milestone {
    float: left;
    width: 31%;
    height: 70px;
    padding: 0px 7px;
    background-color: #f5f2f1;
    border: 1px solid #ccc;
}

.ui-dialog > div div.difficulty_section {
    float: left;
    width: 25%;
    height: 70px;
    padding: 0px 7px;
    background-color: #f5f2f1;
    border: 1px solid #ccc;
}

.ui-dialog > div form.assign_to {
    float: left;
    width: 31%;
    height: 70px;
    padding: 0px 7px;
    background-color: #f5f2f1;
    border: 1px solid #ccc;
}

pre.description {
    display: block;
}

div form.milestone select, 
div form.assign_to select {
    width: 140px;
}

.card_section {
    font-size: 80%;
    font-weight: bold;
    color: #333;
    text-shadow: none;
    line-height: 1em;
}

div.editorhint {

}
/* upload progressbar */

.progress-container {
    width: 200px;
    height: 5px;
    background-color: white;
}

.progress-bar {
    width: 0%;
    height: 5px;
    background: gray;
}

