ul.project_manage li input[type="text"],
ul.project_manage li input[type="email"] {
  margin-right: 7px;
}

#form_add_milestone {
    float: right;
    margin: 1em 0;
}

/* pluralization on this one only -- it's intentional */
ul.project_members {
    margin: 0;
}

form.add_member {
    margin: 1em 0;
}

li.member_item {
    height: 190px;
    width: 140px;
    border: 1px solid #ccc;
    margin: 0;
    padding: 12px 0px 6px 12px;
    margin-right: 7px;
}

ul.project_member { margin: 0; }

ul.project_member li {
    width: 140px;
    text-align: center;
}

ul.project_member li.member_username {
    color: #fff;
    font-weight: bold;
    font-size: 105%;
}

ul.project_member li.member_is_owner label {
    color: #fff;
    display: inline;
}

ul.project_member li.member_is_owner input {
    margin: 0;
}
