<div id="activity_container">
  <div id="activity_list_container">
    <h4>&nbsp;Activity</h4>
    
    <!-- include reloadable activity here -->
    {% include "activity_list.html" %} </div>
  <div data-is-visible="true" id="activity_toggle">
    <div class="activity_toggle_icon show icon">&#59237;</div>
    <div class="activity_toggle_icon hide icon">&#59238;</div>
  </div>
</div>


<script type="text/javascript">
// call this function to reload activity, can be used wherever
// activity.html is included. */
function cc_activity_reload() {
    var project_name = "{{ project.name }}"
    var url = "/project/" + project_name + "/activity";

    $.get(url, function(data) {
        $("#activity_list").replaceWith(data)
        cc_setup_activity_links()
    })

    cc_setup_activity_links()
}

function cc_setup_activity_toggle() {
    $(".activity_toggle_icon.show").hide()
    $(".activity_toggle_icon.hide").show()

    var activity_container_width = $("#activity_container").width()
    var activity_toggle_width = $("#activity_toggle").width()
    var piles_original_width = $("#piles").width()
    var piles_expanded_width = activity_container_width - activity_toggle_width
                               + piles_original_width;

    $("#activity_toggle").click(function() {
        var is_visible = $(this).data("is-visible")
        
        if (is_visible || is_visible == "true") {
            is_visible = true;
            $(".activity_toggle_icon.show").show()
            $(".activity_toggle_icon.hide").hide()
            $("#activity_list_container").hide()
            $("#activity_container").width(activity_toggle_width)
            $("#activity_toggle").width("100%")
            $("#piles").width(piles_expanded_width)
        } else {
            $(".activity_toggle_icon.show").hide()
            $(".activity_toggle_icon.hide").show()
            $("#activity_list_container").show()
            $("#activity_container").width(activity_container_width)
            $("#activity_toggle").width("6%")
            $("#piles").width(piles_original_width)
        }
        
        is_visible = !is_visible;
        $(this).data("is-visible", is_visible)
    })
}

function cc_setup_activity_links() {
  var project_name = "{{ project.name }}"

  $("a.activity_card").each(function(i, elem) {
      cc_connect_card_to_modal($(elem).text(), project_name, $(elem), true)
  })
}

</script>
