{% include "head.html" %} 
    <div style="overflow-y: scroll;" class="content">
      <div class="minimalist_container minimalist_top">
        <h3>Archived Cards: <a href="/p/{{ project.urlencoded_name }}">{{ project.name }}</a></h3>
      </div>

      <table class="wrap" id="archived_cards">
        <tr>
          <th> Card Number</th>
          <th> Card Text </th>
          <th> Restore </th>
          <th> Delete </th>
        </tr>
        {% for card in project.archived_cards %}
          <!-- this is still required, the archived_cards relationship just
               changes the sort order -->
          {% if card.is_archived %}
            <tr data-id="{{ card._id }}">
              <td>
                {{ card._id }}
              </td>
              <td class="wrap">
<a data-id="{{ card._id }}" class="archived_card" href="/p/{{ project.name }}/cards/{{ card._id }}?is_archived=True">{{ card.text }}</a>
              </td>

              <td>
                <a href="/project/{{ project.urlencoded_name }}/cards/{{ card._id }}/restore" class="btn restore">
                <div class="label">Restore</div>
                <div class="icon restore"></div>
                <div class="clear"></div>
              </a>
              </td>

              <td>
                <a href="/delete?card_id={{ card._id }}&project_name={{ project.urlencoded_name }}&redirect_to=archives"
                   class="btn delete">
                   <div class="label">Delete</div>
                   <div class="icon delete"></div>
                   <div class="clear"></div>
                 </a>
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      </table>
    </div>

    {% include "common_js.html" %}
    <script type="text/javascript">
$(document).ready(function() {
  var project_name = "{{ project.name }}"
  $("a.archived_card").each(function(i, elem) {
      cc_connect_card_to_modal($(elem).text(), project_name, $(elem), true)
  })

  cc_connect_profile_links();
})
    </script>
{% include "foot.html" %}
