{% include "head.html" %} 
<div class="container" style="overflow-y: scroll;">
{% for card in project.archived_cards %}
  {% if card.is_archived %}
    {% include "archived_minicard.html" %}
  {% endif %}
{% endfor %}
</div>

<script type="text/javascript">
$(document).ready(function() {
    var project_name = "{{ project.name }}"
  $("a.archived_card").each(function(i, elem) {
      cc_connect_card_to_modal($(elem).text(), project_name, $(elem), true)
  })

  cc_connect_profile_links();
})
    </script>
{% include "foot.html" %}
