<div class="_boards_container">
  <div class="_piles_container" id="__piles_container">
    <div id="__piles_wrapper"> 
      {% for p in piles %}
          <div class="col-md-4 _pile" data-id="{{ p._id }}" data-title="{{ p.name }}">
            <div class="panel panel-default">
              <div class="panel-heading _handle">
                <div class="pull-left _pile_name">
                  {{ p.name }} 
                </div>
                <div class="pull-right">
                  <i class="glyphicon glyphicon-remove _pile_delete"></i>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="panel-body">
                <div class="_cards_wrapper">
                {% for card in p.cards %}
                  {% if not card.is_archived %}
                    {% include "minicard.html" %}
                  {% endif %}
                {% endfor %}
                </div>
              </div>
            </div>
        </div> {% endfor %}
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<!-- modal for authorizing pile deletion -->
{% include "modals/confirm_delete_pile.html" %}

{% assets "boards_js" %}
<script src="{{ ASSET_URL }}" type="text/javascript"></script>
{% endassets %}

<script type="text/javascript">
var SOCKETIO_SERVER = "http://192.241.181.165:8080"

function calculate_pile_container_width() {
  var piles = $("._pile");
  if (piles.length == 0) {
    return 0;
  } else {
    var total = 0;
    $("._pile").each(function(i,elem) {
      total += px_to_int($(elem).css("width"));
      total += px_to_int($(elem).css("margin-left"));
      total += px_to_int($(elem).css("margin-right"));
    });
    return total;
  }
}

function get_height_of_tallest_pile() {
  var piles = $("._pile");
  var tallest = 0;
  if (piles.length == 0) {
    return tallest;
  } else {
    $("._pile").each(function(i,elem) {
      var elem_height = $(elem).height();
      if (elem_height > tallest) {
        tallest = elem_height;
      }
    });
    return tallest;
  }
}

function update_board_dimensions() {
  var max_height = calculate_max_height();

  $("._boards_container").height(max_height - 0);
  $("._piles_container").css("overflow-y", "hidden");
  $("._piles_container").height(max_height - 0);

  // Calculate perfect height for card scrolling containers.

  // The magic number 60 is kind of ugly, but it stands for some combination
  // of the 15 px margins that exist. Just keep them at 15 for now. It looks nice
  // anwyway.
  $("._cards_wrapper").css("max-height", max_height - 60 -
    $("._pile .panel-heading").height()).css("overflow-y", "auto");

  $("#__piles_wrapper").width(calculate_pile_container_width());
  var height = get_height_of_tallest_pile();
  $("#__piles_wrapper").height(height);
  $("._pile").height(height);
}

$(document).ready(function() { 
  var project_id = {{ project._id }};

  // Initialize board dimensions.
  $("._pile").css("float", "left");
  $("._pile").css("width", "370px");
  $(".panel-body").css("overflow-y", "auto");
  $("#__piles_container").width("100%");
  $("._boards_container").css("overflow-y", "hidden");
  update_board_dimensions();

  // Keep board dimensions updated when resizing the window.
  $(window).resize(update_board_dimensions);

  // Initialize socket.io
  var socket = io.connect(SOCKETIO_SERVER);
  socket.on("ready", function(data) {
      socket.emit("observe_project", {project_id: project_id});
  });

  socket.on("add_card", function(data) {});
  socket.on("archive_card", function(data) {});
  socket.on("reorder_cards", function(data) {});
  socket.on("reorder_piles", function(data) {});
  socket.on("delete_pile", function(data) {});
  socket.on("add_pile", function(data) {});

  // Initialize pile sorting:
  $("#__piles_wrapper").sortable({
    delay: 100,
    distance: 10,
    revert: "invalid",
    tolerance: "pointer",
    handle: "._handle",
    placeholder: "_pile_placeholder",

    start: function(e, ui) {
      ui.placeholder.height(ui.helper.outerHeight());
      ui.placeholder.width(ui.helper.outerWidth());
    },

    stop: function(event, ui) {

    }
  });

  // Initialize card sorting:
  $("._cards_wrapper").sortable({
    delay: 100,
    distance: 10,
    revert: "invalid",
    tolerance: "pointer",
    placeholder: "_card_placeholder",
    connectWith: "._cards_wrapper",

    start: function(e, ui) {
      ui.placeholder.height(ui.helper.outerHeight());
      ui.placeholder.width(ui.helper.outerWidth());

    },

    stop: function(e, ui) {

    }
  });

  // Ensure that TinyMCE is not blocked by bootstrap's modal.
  $(document).on("focusin", function(e) {
    if ($(event.target).closest(".mce-window").length) {
      e.stopImmediatePropagation();
    }
  });

  // Handle opening cards:
  $("._minicard").dblclick(function() {
    // Increase card width.

    var card_id = $(this).data("id");
    var url = "/project_id/" + project_id + "/card_id/" + card_id;
    $.get(url, function(html) {
        // prevent multiple/simultaneous instantiations of card
        var card = $(html);
        card.find(".modal-dialog").width(screen.width * .7);

        card.on("hidden.bs.modal", function() {
          card.remove();
        });

        card.on("shown.bs.modal", function() {

          // Set up title editor    
          tinymce.init({
            selector: "#__card_title.editable",
            inline: true,
            toolbar: false,
            menubar: false,
          });

          // Enable single line editing for titles.
          //---------------------------------------

          // Unbind the original keydown, as it has special logic to handle
          // the enter key which will interfere.
          tinymce.activeEditor.off("keydown");

          // Bind a new keydown that filters out enter and instead
          // fires the blur event.
          tinymce.activeEditor.on("keydown", function(e) {
            // detect when enter is pressed.
            if (e.keyCode == 13 || e.keyCode == 10) {
              // prevent the enter key from echoing.
              e.preventDefault();
              // fire the blur event to stop editing
              $("#__card_title").blur();
            }
          });
 
          tinymce.init({
            selector: "textarea",
            width: '80%',
            height: 400,
            plugins: "link",
            statusbar: false,
            menubar: false,
            toolbar: "link"
          });
        });

        card.modal("show");
    });
  });

  // Handle archival of cards:
  $("._archive_card").click(function() {
    var card_id = $(this).data("id");
    var url = "/project_id/" + project_id +"/card/" + card_id + "/archive";
    $.get(url, function(data) {
      console.log(data);
      socket.emit('archive_card', { project_id: project_id, card_id: card_id });
      $("._minicard[data-id=" + card_id + "]").remove();
    });
  });

  // BEGIN: delete pile
  var delete_pile = function(pile) {
    var pile_id = parseInt(pile.data("id"), 10);
    var url = "/project_id/" + project_id + "/pile/" + pile.data("id") + "/delete";
    $.get(url, function(data) {
      console.log(data);
      socket.emit('delete_pile', { project_id: project_id, pile_id: pile_id }); 
      pile.remove();
    });    
  };

  $("._pile_delete").click(function() {
    var pile = $(this).closest("._pile");
    if (pile.find("._minicard").length > 0) {
  
      var btn_cancel = $("#__btn_cancel");
      var btn_delete_pile = $("#__btn_delete_pile");
      var modal_confirm_delete_pile = $("#__modal_confirm_delete_pile");

      btn_cancel.unbind("click");
      btn_cancel.click(function() {
        modal_confirm_delete_pile.modal("hide");
      });

      btn_delete_pile.unbind("click");
      btn_delete_pile.click(function() {
        delete_pile(pile); 
        modal_confirm_delete_pile.hide("hide");
      });

      $("#__modal_confirm_pile_title").text(pile.data("title"));
      modal_confirm_delete_pile.modal("toggle");
    } else {
      delete_pile(pile); 
    }
  });
  // END: delete pile
});
</script>
