<!-- 
  Card Attachments:

    * Template for card attachments. Included wherever card attachments are shown.
    * Evaluated when card attachments are reloaded via ajax. 
-->
<div id="{{ card._id }}_card_attachments" class="card_attachments">
  <ul class="attachments structural">
    {% for file in card.attachments %}
      <li id="attachment_{{ file._id }}">
        <div>
          <div class="attachment">
            <a href="{{ file.url }}">
              {% if file.is_image %}
                <p class="filename">{{ file.filename }}</p>
                <div style="text-align: center;">
                  <img class="image" style="max-height: 300px;" class="thumb" src="{{ file.url }}"/>
                </div>
              {% else %}
                <p style="float: left;" class="filename_notimage">{{ file.filename }}</p>
              {% endif %}
            </a>
          </div>
          <div {% if not file.is_image %} style="float: right;" {% endif %}
            class="buttons">
            <a class="btn mini_icon delete" data-attachment-id="{{ file._id }}" 
               style="float: right;" data-filename="{{ file.filename }}">
              <div>
                <p style="float: left;">Delete</p>
                <img style="float: left;" class="mini_icon" src="/assets/ic_trash.png" />
                <div class="clear"></div>
              </div>
            </a>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
        </div>
     </li>
     {% endfor %}
  </ul>
</div>

<script>
(function() {
  var card_id = {{ card._id }};
  var project_name = "{{ project.name }}";
  var card_attachments = new CardAttachments({
    file_input: require("#" + card_id + "_file_input:file"),
    file_input_button: require("#" + card_id + "_file_input_button"),
    progress: require("#" + card_id  + "_progress"),
    attachments_selector: require_selector("#" + card_id + "_card_attachments"),
    project_name: project_name,
    card_id: card_id
  });

  // hook up delete comment button
  $(".btn.delete").click(function() {
      var filename = $(this).data("filename");
      var base_url = "/p/{{ project_name }}/attachments/delete/";

      if(confirm("Are you sure you want to delete " + filename + "?")) {
          var attachment_id = $(this).data("attachment-id");
          var url = base_url + attachment_id;
          $.post(url, function(data) {
              $("#attachment_" + attachment_id).fadeOut("fast", function() {
                  $(this).remove();

                  $("#card_{{ card._id }}_attachment_count").text(
                    Number($("#card_{{ card._id }}_attachment_count").text()) 
                    - 1);
              });
          });
      } 
           
      return false;
  });
});
</script>
