<div class="modal fade" id="__card" aria-hidden="true" data-id="{{ card._id }}">
  <div class="modal-dialog">
    <div class="modal-content container">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">
          <div id="__card_title" class="editable text">{% autoescape off %}{{ card.text }}{% endautoescape %}</div>
      </div>
      <div class="modal-body">
        <div id="__card_body_container" class="_flexrow">
          <div id="__card_body_left" class="row">
            <div class="clearfix _description_container _card_section">
              <div id="__card_description" data-placeholder="Edit card description...">
              {% autoescape off %}
                {{ card.description }} 
              {% endautoescape %}
              </div>
              <a class="btn btn-primary pull-right" href="#" 
                  id="__card_description_btn_save">Save</a>
            </div>

            <div class="_card_section">
              <h4>Comments</h4>
              <p {% if card.comments|length != 0 %}
                style="display: none;" {% endif %} 
              class="_empty_msg" id="__card_comments_empty_msg">
              No comments.
              </p>

              <div id="__card_comments_container">
                {% for comment in card.comments %}
                  {% include "comment.html" %}
                {% endfor %}
              </div>
              <div class="pull-right">
                <button class="btn btn-sm btn-primary" id="__card_toggle_comment">
                  Comment
                </button> </div>
              <div class="clearfix"></div>
              <div class="clearfix" style="display: none;" id="__card_comment_form_container">
              <div id="__card_comment_input_container" class="form-group">
                <textarea class="_card_comment_input form-control" id="__card_comment_input"></textarea>
              </div>
                <a class="btn btn-sm btn-success pull-right" href="#" 
                  id="__card_comment_btn">Comment
                  
                  </a>

                <a class="btn btn-sm btn-danger pull-right" href="#" 
                  id="__card_cancel_comment_btn">Cancel
                  
                  </a>
              </div>
            </div>

            <div class="_card_section">
              <h4>Attachments</h4>
              <p {% if card.attachments|length != 0 %}
                style="display: none;" {% endif %} 
              class="_empty_msg" id="__card_attachments_empty_msg">
              No attachments.
              </p>
              <div id="__attachment_container">
                {% for attachment in card.attachments %} 
                  {% include "attachment.html" %}
                {% endfor %} 
                
              </div> 

              <div id="__attachment_form">
                <input id="__file_input" type="file" name="file" id="file"/>
                <button class="btn btn-sm btn-primary pull-right" type="button" id="__file_input_button">
                Attach File
                </button>
                <div class="clearfix"></div>
                <div class="progress progress-striped active" style="margin-top: 15px; display: none;"
                     id="__progress_bar">
                  <div class="progress-bar" aria-valuemin="0" aria-valuemax="100">
                    <span class="progress-text">&nbsp;</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div id="__card_body_right" class="row">
             <div class="col-md-12 _card_feature">
              {% if card.is_completed %} {% set clazz = "btn-success" %} {% endif %}
              <button id="__btn_toggle_complete" type="button" class="btn btn-primary _toggle_incomplete {{ clazz }}">
                <span {% if card.is_completed %} style="display: none;" {% endif %} class="_false">Complete</span>
                <span {% if not card.is_completed %} style="display: none;" {% endif %} class="_true">Incomplete</span>
              </button>
            </div>

            {% set clazz = "" %}

            <div class="col-md-12 _card_feature">
              {% set is_subscribed = card.is_luser_subscribed(luser._id) %}
              {% if is_subscribed %} {% set clazz = "btn-success" %} {% endif %}
              <button id="__btn_toggle_subscription" type="button" class="btn btn-primary {{ clazz }}">
                <span {% if is_subscribed %} style="display: none;" {% endif %}class="_false">Subscribe</span>
                <span {% if not is_subscribed %} style="display: none;" {% endif %}class="_true">Unsubscribe</span>
              </button>
            </div>
            
            {% set clazz = "" %}

            <div class="col-md-12 _card_feature">
              {% if card.is_flagged %} {% set clazz = "btn-danger" %} {% endif %}
              <button id="__btn_toggle_flag" type="button" class="btn btn-primary {{ clazz }}">
                <span {% if card.is_flagged %} style="display: none;" {% endif %} class="_false">Flag</span>
                <span {% if not card.is_flagged %} style="display: none;" {% endif %} class="_true">Unflag</span>
              </button>
            </div>

            <div class="col-md-12 _card_feature">
              {% include "card/_due_date.html" %}
            </div>

            <div class="col-md-12 _card_feature">
              {% include "card/_milestone.html" %}
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<!-- lodash is required for the s3upload script. -->
<script src="/js/lodash.min.js"></script>
<script src="/js/s3upload.js"></script>
<script src="/js/card_attachments.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  // <jinja2>
  var project_id = {{ project._id }};
  var card_id = {{ card._id }};
  var luser_id = {{ luser._id }};
  // </jinja2>

  // Factory makes functions that can handle toggle buttons, 
  // but allows the adjustment of class to be toggled, action
  // to be performed, and callback to be called, via
  // a closure.
  var _make_toggle_handler = function(clazz, action, callback) {
    return (function() {
      console.log("CLICK MOFO");
      // Disable clicks to avoid putting the button in an invalid state.
      $(this).prop("disabled", true);

      $(this).find("._true").toggle();
      $(this).find("._false").toggle();
      
      if ($(this).hasClass(clazz)) {
        $(this).removeClass(clazz);
      } else {
        $(this).addClass(clazz);
      }

      var url = "/project_id/" + project_id + "/card_id/" + card_id + "/" + action;
      var that = this;
      $.get(url, function(data) {
        console.log(data);
        if (callback !== undefined) {
          callback(data);
          // The user can safely click it again, now...
        }
        $(that).prop("disabled", false);
      });
    });
  }

  // <event entity="completion" type="toggle">
  $("#__btn_toggle_complete").click(_make_toggle_handler("btn-success", 
    "complete", function(data) {

      // Strikeout the card title if the card is complete.
      var minicard_title = $("._minicard[data-id=\"" + card_id + "\"]").find("._minicard_title");
      if (data.state) {
        minicard_title.addClass("_strike"); 
      } else {
        minicard_title.removeClass("_strike");
      }

    }));
  // </event>

  // <event entity="subscription" type="toggle">
  $("#__btn_toggle_subscription").click(_make_toggle_handler("btn-success", 
    "subscribe"));
  // </event>

  // <event entity="flag" type="toggle">
  $("#__btn_toggle_flag").click(_make_toggle_handler("btn-danger", "flag"));
  // </event>


  // Show and hide the comment form.
  var _toggle_comment_form = function() {
    $("#__card_comment_input_container").removeClass("has-error");
    $("#__card_comment_input").val("");
    $("#__card_toggle_comment").toggle();
    $("#__card_comment_form_container").toggle();
    return false;
  };
  $("#__card_toggle_comment").click(_toggle_comment_form);
  $("#__card_cancel_comment_btn").click(_toggle_comment_form);

  // Ensure that the "No comments..." message is displayed when there are none.
  var _update_card_comments_empty_state = function() {
    var len = $("#__card_comments_container").children().length;
    if (len != 0) {
      $("#__card_comments_empty_msg").hide();
    } else {
      $("#__card_comments_empty_msg").show();
    }
  };

  // <event entity="comment" type="delete">
  var _card_comment_delete_click = function() {
    var comment = $(this).closest("._comment");
    var comment_id = comment.data("id");
    comment.remove();
    _update_card_comments_empty_state();
    var url = "/project_id/" + project_id + "/card_id/" + card_id + "/comment_id/" +
              comment_id + "/delete";
    $.get(url, function(data) {
      console.log(data);
    });
  };
  $("._comment_delete_btn").click(_card_comment_delete_click);
  // </event>

  // <event entity="comment" type="edit">
  // Sets up tinymce inline editor on a single comment.
  var _card_comment_tinymce_setup = function(luser_id, comment_id) {
    tinymce.init({
      // Only click tos edit on comments that we own.
      selector: "._comment_text_" + luser_id + "_" + comment_id,
      inline: true,
      toolbar: false,
      menubar: false,
    });
  };

  // Connect existing comments to editor.
  $("._comment").each(function() {
    var comment_id = $(this).data("id");
    console.log(comment_id);
    _card_comment_tinymce_setup(luser_id, comment_id);
  });

  // Shows the tinymce inline editor programmatically
  var _card_comment_edit_click = function() {
    $(this).closest("._comment").find("._comment_text").focus();
    var editor = tinymce.activeEditor;
    editor.select(editor.getBody(), true);
    editor.selection.collapse(false);
  };
  $("._comment_edit_btn").click(_card_comment_edit_click);

  // Saves the contents of the tinymce inline editor.
  var _card_comment_edit_blur = function() {
    var comment_id = $(this).closest("._comment").data("id");
    var text = $(this).text();
    var url = "/project_id/" + project_id + "/card_id/" + card_id + "/comment_id/"
              + comment_id + "/edit";
    $.post(url, { text: text }, function(data) {
      console.log(data);
    });
  };
  $("._comment_text").blur(_card_comment_edit_blur);
  // </event>

  // <event entity="comment" type="post">
  $("#__card_comment_btn").click(function() {
    $("#__card_comment_input_container").removeClass("has-error");

    var url = "/project_id/" + project_id + "/card_id/" + card_id + "/comment";
    var text = $("#__card_comment_input").val()

    if (text.trim() == "") {
      $("#__card_comment_input_container").addClass("has-error"); 
      return false;
    }

    // post a new comment
    $.post(url, { text: text }, function(html) {
      // show comment at the top
      $("#__card_comments_container").append(html);
      
      // connect event handlers to new comment
      $("._comment_delete_btn").last().click(_card_comment_delete_click);
      $("._comment_edit_btn").last().click(_card_comment_edit_click);
      $("._comment_text").last().blur(_card_comment_edit_blur);
      _card_comment_tinymce_setup(luser_id, $("._comment").last().data("id"));
      
      // clear text input and hide
      _toggle_comment_form();

      // remove empty message
      _update_card_comments_empty_state();
    });
  });

  $("._fancybox_preview").fancybox();
  // </event>

  var _update_card_attachments_empty_state = function() {
    var len = $("#__attachment_container").children().length;
    if (len != 0) {
      $("#__card_attachments_empty_msg").hide();
    } else {
      $("#__card_attachments_empty_msg").show();
    }
  };

  // <event entity="attachment" type="delete" name="_attachment_delete_click">
  var _attachment_delete_click = function() {
    var attachment = $(this).closest("._attachment");
    var url = "/project_id/"+project_id+"/card_id/"+card_id+"/attachment_id/"
              + attachment.data("id") + "/delete";
    $.get(url, function(data) {
      console.log(data);
    });
    attachment.remove();
    _update_card_attachments_empty_state();
  };
  $("._delete_attachment").click(_attachment_delete_click);
  // </event>


  // <event entity="attachment" type="post">

  // Hide the browser's file input but phantom click it so we can style
  // the way it looks.
  var file_input = $("#__file_input");
  file_input.hide();
  $("#__file_input_button").click(function() {
    file_input.click();
  });

  // Register a change event handler on the file input to trigger
  // the s3 upload.
  file_input.change(function() {
    var filename = get_filename_from_input(file_input);

    // Show the upload progress bar
    $(".progress").show();

    // Disable the upload button until upload is finished.
    $("#__file_input_button").prop("disabled", true);

    // Sign & perform the upload to amazon s3.
    var s3upload = new S3Upload({
      file_dom_selector: $("#__file_input"),
      s3_sign_put_url: '/sign_s3_upload/',

      // Update the progress bar as the upload happens.
      onProgress: function(percent, message) { 
        // update the upload progress bar
        $(".progress-bar").width(percent + "%");
      },

      // Called when the S3 upload is finished.
      onFinishS3Put: function(file_url) { 
        // Store a record of the attachment in the database so that it 
        // will appear in cards.
        var url = "/project_id/" + project_id + "/card_id/" + card_id
                  +"/attach";
        $.post(url, { filename : filename, url : file_url }, function(data) {
          // Clear file input
          $("#__file_input").val("");

          // Reset progress bar
          $("._progress_bar").width("0%");

          // append new attachment to container
          $("#__attachment_container").append(data["attachment_html"]);
          _update_card_attachments_empty_state();

          // connect delete event to new attachment 
          $("._delete_attachment").last().click(_attachment_delete_click);

          // Hide progress bar
          $(".progress").hide();

          // Re-enable uploads.
          $("#__file_input_button").prop("disabled", false);
        });
      },

      // Called if the S3 upload fails.
      onError: function(message) {
        // Reset file input
        $("#__file_input").val("");

        // Hide progress bar
        $(".progress").hide();

        // Reset progress bar
        $("._progress_bar").width("0%");

        // Re-enable uploads.
        $("#__file_input_button").prop("disabled", false);

        // Show error
        alert("Error: " + message);
      },

    }, filename);
  });

  // </event>

});
</script>
