<div class="modal fade" id="__card" aria-hidden="true" data-id="{{ card._id }}">
  <div class="modal-dialog">
    <div class="modal-content container">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">
          <div id="__card_title" class="editable text">{% autoescape off %}{{ card.text }}{% endautoescape %}</div>
      </div>
      <div class="modal-body">
        <div id="__card_body_container" class="_flexrow">
          <div id="__card_body_left" class="row">
            <div class="clearfix _description_container _card_section">
              <div id="__card_description" data-placeholder="Edit card description...">
              {% autoescape off %}
                {{ card.description }} 
              {% endautoescape %}
              </div>
              <a class="btn btn-primary pull-right" href="#" 
                  id="__card_description_btn_save">Save</a>
            </div>

            <div class="_card_section">
              <h4>Comments</h4>
              <p {% if card.comments|length != 0 %}
                style="display: none;" {% endif %} 
              class="_empty_msg" id="__card_comments_empty_msg">
              No comments.
              </p>

              <div id="__card_comments_container">
                {% for comment in card.comments %}
                  {% include "comment.html" %}
                {% endfor %}
              </div>
              <div class="pull-right">
                <button class="btn btn-sm btn-primary" id="__card_toggle_comment">
                  Comment
                </button>
              </div>
              <div class="clearfix"></div>
              <div class="clearfix" style="display: none;" id="__card_comment_form_container">
              <div id="__card_comment_input_container" class="form-group">
                <textarea class="_card_comment_input form-control" id="__card_comment_input"></textarea>
              </div>
                <a class="btn btn-sm btn-success pull-right" href="#" 
                  id="__card_comment_btn">Comment</a>

                <a class="btn btn-sm btn-danger pull-right" href="#" 
                  id="__card_cancel_comment_btn">Cancel</a>
              </div>
            </div>

            <div class="_card_section">
              <h4>Attachments</h4>
            </div>
          </div>
          <div id="__card_body_right" class="row">
             <div class="col-md-12 _card_feature">
              <button id="__btn_toggle_complete" type="button" class="btn btn-primary">
                Complete
              </button>
            </div>

            <div class="col-md-12 _card_feature">
              <button id="__btn_toggle_subscription" type="button" class="btn btn-primary">
                Subscribe
              </button>
            </div>

            <div class="col-md-12 _card_feature">
              <button id="__btn_set_due_date" type="button" class="btn btn-primary">
                Due Date
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
  // <jinja2>
  var project_id = {{ project._id }};
  var card_id = {{ card._id }};
  var luser_id = {{ luser._id }};
  // </jinja2>

  var _toggle_comment_form = function() {
    $("#__card_comment_input_container").removeClass("has-error");
    $("#__card_comment_input").val("");
    $("#__card_toggle_comment").toggle();
    $("#__card_comment_form_container").toggle();
    return false;
  };
  $("#__card_toggle_comment").click(_toggle_comment_form);
  $("#__card_cancel_comment_btn").click(_toggle_comment_form);

  var _update_empty_state = function() {
    var len = $("#__card_comments_container").children().length;
    if (len != 0) {
      $("#__card_comments_empty_msg").hide();
    } else {
      $("#__card_comments_empty_msg").show();
    }
  };

  // <event type="delete">
  var _card_comment_delete_click = function() {
    var comment = $(this).closest("._comment");
    var comment_id = comment.data("id");
    comment.remove();
    _update_empty_state();
    var url = "/project_id/" + project_id + "/card_id/" + card_id + "/comment_id/" +
              comment_id + "/delete";
    $.get(url, function(data) {
      console.log(data);
    });
  };
  $("._comment_delete_btn").click(_card_comment_delete_click);
  // </event>

  // <event type="edit">

  // Sets up tinymce inline editor on a single comment.
  var _card_comment_tinymce_setup = function(luser_id, comment_id) {
    tinymce.init({
      // Only click tos edit on comments that we own.
      selector: "._comment_text_" + luser_id + "_" + comment_id,
      inline: true,
      toolbar: false,
      menubar: false,
    });
  };

  // Connect existing comments to editor.
  $("._comment").each(function() {
    var comment_id = $(this).data("id");
    console.log(comment_id);
    _card_comment_tinymce_setup(luser_id, comment_id);
  });

  // Shows the tinymce inline editor programmatically
  var _card_comment_edit_click = function() {
    $(this).closest("._comment").find("._comment_text").focus();
    var editor = tinymce.activeEditor;
    editor.select(editor.getBody(), true);
    editor.selection.collapse(false);
  };
  $("._comment_edit_btn").click(_card_comment_edit_click);

  // Saves the contents of the tinymce inline editor.
  var _card_comment_edit_blur = function() {
    var comment_id = $(this).closest("._comment").data("id");
    var text = $(this).text();
    var url = "/project_id/" + project_id + "/card_id/" + card_id + "/comment_id/"
              + comment_id + "/edit";
    $.post(url, { text: text }, function(data) {
      console.log(data);
    });
  };
  $("._comment_text").blur(_card_comment_edit_blur);


  // </event>

  // <event type="post">
  $("#__card_comment_btn").click(function() {
    $("#__card_comment_input_container").removeClass("has-error");

    var url = "/project_id/" + project_id + "/card_id/" + card_id + "/comment";
    var text = $("#__card_comment_input").val()

    if (text.trim() == "") {
      $("#__card_comment_input_container").addClass("has-error"); 
      return false;
    }

    $.post(url, { text: text }, function(html) {
      // show comment at the top
      $("#__card_comments_container").append(html);
      
      // connect event handlers to new comment
      $("._comment_delete_btn").last().click(_card_comment_delete_click);
      $("._comment_edit_btn").last().click(_card_comment_edit_click);
      $("._comment_text").last().blur(_card_comment_edit_blur);
      _card_comment_tinymce_setup(luser_id, $("._comment").last().data("id"));
      
      // clear text input and hide
      _toggle_comment_form();

      // remove empty message
      _update_empty_state();
    });
  });
  // </event>
});
</script>
