<ul class="comments structural">
  {% include "comments_loop.html" %}
</ul>

<script type="text/javascript">
$(function() {
  var project_name = "{{ project_name }}";

  // hook up delete comment button
  $(".mini_icon.delete").click(function() {
    var comment_id = $(this).data("comment-id");
    var url = "{{ comment_delete_url }}" + comment_id;
    $.post(url, function(data) {
     $("#comment_" + comment_id).remove();
    })
     
    return false;
  });

  $(".editable_comment").each(function(i, value) {
    var comment_id = $(value).data('comment-id');
    var url = "{{ comment_edit_url }}" + comment_id;
    console.log("url="+url);

    $(value).editable(url, {
      type: "textarea",
      name: "text",
      event: "clickEdit",
      tooltip: "Click to edit...",
      cssclass: "jeditable",
      height: "4em",
      submit: "save",
      onblur: "cancel",

      callback: function(value, settings) {
       $(this).addClass("quoted");
      }

    });
  });

  $(".mini_icon.edit").click(function() {
    var comment_id = $(this).data('comment-id'); 
    var selector = "#editable_comment_" + comment_id;
    var editable = $(selector);
    editable.trigger("clickEdit");
    editable.removeClass("quoted");
  });
})
</script>
