{% assets "common_js" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

<!--
<script type="text/javascript" src="/js/jquery-latest.js"></script>
<script type="text/javascript" src="/js/jquery-ui.js"></script>
<script type="text/javascript" src="/js/jquery.jeditable.js"></script>
<script type="text/javascript" src="/js/raty/jquery.raty.js"></script>
<script type="text/javascript" src="/js/jquery.form.js"></script> 
<script type="text/javascript" src="/js/project.js"></script>
<script type="text/javascript" src="/js/timepicker.js"></script>
<script type="text/javascript" src="/js/require.js"></script>
<script type="text/javascript" src="/js/select2.js"></script>
-->
