<div class="_page"> 
  <h1>{{ project.name }}</h1>
  <br />
  <div class="row">
    <!-- BEGIN RECENT ACTIVITY -->
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Recent Activity
        </div>
        <div class="panel-body">
          Recent activity will go here.
        </div>
      </div>
    </div>
    <!-- END RECENT ACTIVITY -->

    <!-- BEGIN MOST URGENT -->
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Most Urgent
        </div>
        <div class="panel-body">
          Most urgent cards will go here.
        </div>
      </div>
    </div>
    <!-- END MOST URGENT -->

    <!-- BEGIN HOURS LOG-->
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Hours Log
        </div>
        <div class="panel-body">
          If we do this, it will have to contain information for individual
          developers since there may be more than one.
        </div>
      </div>
    </div>
    <!-- END HOURS LOG -->

    <!-- BEGIN FLAGGED ITEMS -->
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Flagged Cards
        </div>
        <div class="panel-body">
          Flagged Cards will go here.
        </div>
      </div>
    </div>
    <!-- END FLAGGED ITEMS -->

    <!-- BEGIN PROGRESS SUMMARY -->
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Progress Summary
        </div>
        <div class="panel-body">
          Progress Summary will go here.
        </div>
      </div>
    </div>
    <!-- END FLAGGED ITEMS -->
  </div>
</div>
