{% include "head.html" %}
<div class="content">
      <div style="position: absolute; top: 40%; left: 30%; width: 500px; background: #fff; border: 1px solid #ccc; box-shadow: 1px 1px 1px #aaa;  padding: 7px;  " >

    <form id="github_repo_form" action="/p/{{ project.urlencoded_name }}/register-github"
          method="POST">
          <h4 style="background: #555; color: #fff; padding: 7px; text-shadow: none;">Associate Github Repo</h4>
          <div style="height: 7px;" class="clear"></div>
          
          <div style=" float: left;">
              <label for="github_repo">Repository Name</label>
          </div>
          <div style="float: right;">
              <input style="float: left;" placeholder="user/repo" type="text" name="repo" id="github_repo"
                {% if project.has_github_repo %} 
                  value="{{ project.github_repo }}"
                {% endif %}
              />
            <p style="float: left; color: green; display: none;" id="github_repo_success_indicator">
            &nbsp; &#10003; Success</p>
            <div class="clear"></div>
          </div>
          <div style="height: 7px;" class="clear"></div>
          <div style="float: right;">
            <input type="submit" name="submit" value="Submit" class="btn"/>
          </div>
          <div class="clear"></div>
    </form>
    </div>
  </div>
</div>
<script type="text/javascript">
$(function() {
  $("#github_repo_form").ajaxForm({
      success: function(data) {
        $("#github_repo_success_indicator").show();
      }
  });
});
</script>
{% include "foot.html" %}
