{% include "min_head.html" %}
{% include "themes/" + luser.profile.theme + "/github_configure.html" %}
  </head>
<body> 
<!--{% include "common_js.html" %} -->
<div style="text-align: center; padding-top: 25%;">
    <h4>Configure Github</h4>
    {% if luser.has_github_token %}
      <p>{{ luser.email }} {{ luser.has_github_token }} {{ luser.github_token }}</p>
      <a class="btn" href="/github-authorize">Connect Github</a>
    {% else %}
      <p class="btn">Github Connected</p>
    {% endif %}
  </div>
</div>
{% include "foot.html" %}
