<!DOCTYPE html>
<html>
  <head>
    <title>CodeColab</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet" />

    {% assets "css_overrides" %}
      <link href="{{ ASSET_URL }}" type="text/css" rel="stylesheet"/>
    {% endassets %}

    <link href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" rel="stylesheet"/>
    {% include "google_analytics.html" %}
  </head>
<body>
