{% include "head.html" %}
<div class="content">
  <h3>Office Hours: {{ project_name }}</h3>
  <div class="clear"></div>

  <div class="days">
    {% for i in range(days|count) %}
      <div class="day {% if i == weekday %}on{% endif %}"><a href="/{{ project.name }}/office_hours?weekday={{ i }}">{{ days[i].name }}</a></div>
    {% endfor %}
  </div>
  <div class="clear"></div>
  <div class="timefriend">
    {% set viewer = luser %}
    {% for member in sorted_members %}
      {% set luser = member.luser %}
      <div>
        <div class="luser_time">
          <div class="left">
            <img class="avatar" src="{{ luser.small_gravatar_url }}" />
          </div>
          <div class="left">
            <div class="username">{{ luser.profile.username }}</div>
            <div>{{ luser.profile.tz_utc_offset_human }}</div>
            <div class="time" data-tz="{{ luser.profile.tz_utc_offset_seconds }}"></div>
            <div class="date" data-tz="{{ luser.profile.tz_utc_offset_seconds }}"></div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="hours">
          {% for hour in member_hours[member.luser_id] %}

            {% set dummy = [] %}              
            {% for range in member.schedule.ranges %}
              {% if range.day.ordinal == weekday and hour >= range.start_time.hour and hour < range.end_time|round_time_up %}
                {% do dummy.append(true) %}
                {% break %}

              {% endif %}
            {% endfor %}

            {% if dummy %} 
              {% set is_on = true %} 
            {% else %}
              {% set is_on = false %}
            {% endif %}

            <div data-luser-id="{{ member.luser_id }}" data-hour="{{ hour }}" 
              class="hour  {% if is_on %}on{% endif %} {% if member.luser_id == viewer._id %}you{% endif %}" data-is-on="{{ is_on }}">
              <div class="inner">
                <div data-hour="{{ hour }}" class="hour_of_day">{{ hour }}</div> 
                <div data-hour="{{ hour }}" class="am_pm"></div>
              </div>
            </div>
          {% endfor %}
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div> {% endfor %}
  </div>
</div>

{% include "common_js.html" %}

<script type="text/javascript">
var MONTHS = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug",
              "Sep", "Oct", "Nov", "Dec"]

function convert(now, offset) {
    var msecs = now.getTime()    
    return new Date(msecs + offset * 1000)
}

function pad(n) {
    if (n < 10) 
        return "0" + n
    else
        return "" + n
}

// returns naive 24 hour time as string
function current_time(now, offset) {
    var converted = convert(now, offset)
    var hour = pad(converted.getHours())
    var minute = pad(converted.getMinutes())
    var seconds = pad(converted.getSeconds())

    return hour + ":" + minute + ":" + seconds
}

// returns naive date as string
function current_date(now, offset) {
    var converted = convert(now, offset)
 
    // build formatted date string:
    var month = MONTHS[converted.getMonth()]
    var day_of_month = converted.getDate()
    var year = converted.getFullYear()

    var date_format = month + " " + day_of_month + ", " + year
    return date_format    
}

function utcnow() {
    var now = new Date()
    return new Date(now.getTime() + now.getTimezoneOffset() * 60000);
}


function update_timestamps() {
    var now = utcnow()

    $(".date").each(function(i, elem) {
        var offset = Number($(elem).data("tz"))
        $(elem).text(current_date(now, offset))
    })

    $(".time").each(function(i, elem) {
        var offset = Number($(elem).data("tz"))
        $(elem).text(current_time(now, offset))
    })
}


function keep_timestamps_updated() {
    update_timestamps()
    setTimeout(keep_timestamps_updated, 1000)
}


function setup_12_hour_times() {
  $(".hour_of_day").each(function(i, elem) {
      var hour = $(elem).data("hour")

      if (hour > 12) {
          hour = hour - 12
      } else if (hour == 0) {
          hour = 12
      }

      $(elem).text(hour)
  })

  $(".am_pm").each(function(i, elem) {
      var hour = $(elem).data("hour")

      if (hour < 12) {
          $(elem).text("am") 
      } else {
          $(elem).text("pm")
      }
  })
}


function get_is_on(elem) {
    var truthiness = $(elem).data("is-on")
    return truthiness != "False" && truthiness
}


function get_selected_hours(luser_id) {
    var selected_hours = []

    $(".hour").each(function(i, elem) {
        var hour_luser_id = $(this).data("luser-id")
        var is_on = get_is_on(elem)

        if (is_on && luser_id == hour_luser_id) {
            selected_hours.push(Number($(this).data("hour")))
        }
    })

    return selected_hours
}


$(function() {
    setup_12_hour_times()
    update_timestamps()
    keep_timestamps_updated()
    
    var luser_id = {{ luser._id }}
    var weekday = {{ weekday }}
    var project_name = "{{ project.name }}"
    
    $(".hour").click(function(ev) {
        var hour_luser_id = $(this).data("luser-id")

        // only allow the changing of our own hours
        var is_on = get_is_on(this)
        var new_state = !is_on;

        if (hour_luser_id == luser_id && !is_on) {
            $(this).addClass("on")
        } else if (hour_luser_id == luser_id) {
            $(this).removeClass("on")
        }

        $(this).data("is-on", new_state)
        console.log(get_selected_hours(luser_id))

        var url = "/project/" + project_name + "/office_hours/update"
        $.ajax({ 
             url: url, 
             type: "POST",
             data: JSON.stringify({ weekday: weekday, hours: get_selected_hours(luser_id) }),
             contentType: "application/json",
             success: function(data) {
                console.log(data)
             }
        })
    })
  
  cc_connect_profile_links();
})

</script>
{% include "foot.html" %}
