<div id="project_members_container">
<h4>Members</h4>
<ul class="structural horizontal_left">
<!-- iterate through project members -->
{% for member in project.lusers %}
  <li class="member_item">

    <!-- user avatar -->
    <img src="{{ member.gravatar_url }}" />

    <!-- username -->
    <div class="member_username_container">
      <a href="/profile/{{ member._id }}">{{ member.profile.username }}
        {% if member._id == luser._id %}
          <small>(you)</small>
        {% endif %}
      </a>
    </div>

    <!-- disallow self removal of admin, disallow unprivileged. -->
    {% if not project.is_owner(luser._id) or member._id == luser._id %}
      <div style="padding-bottom: 3px;">
        {% if project.is_owner(member._id) %}
        <div style="float: left;">
          Administrator&nbsp;&nbsp;
        </div>
        <div style="float: left;" class="check icon"></div>
        <div class="clear"></div>
        {% else %}
        Regular User
        {% endif %}
      </div>
      {% else %}

      <!-- display admin toggle otherwise -->
      <form style="padding: 0; margin: 0;" class="is_owner" method="POST"
        action="/project/{{ project.name }}/luser/{{ member._id }}/is_owner"> 
        
        <label style="float: left;" for="is_{{ member._id }}_owner" name="is_owner">
          Administrator&nbsp;&nbsp;&nbsp;
        </label> 

        <!-- fill checkbox with administrator state for member -->
        {% if project.is_owner(member._id) %}
          <input style="float: left;" id="is_{{ member._id }}_owner" type="checkbox" checked />
        {% else %}
          <input style="float: left;" id="is_{{ member._id }}_owner" type="checkbox" />
        {% endif %}

      </form>
    {% endif %}

      <!-- display remove link, disallow self removal and unprivileged removal -->
      <div class="clear"></div>

      {% if project.is_owner(luser._id) and member._id != luser._id %}
        <a data-username="{{ member.profile.username }}" class="member_remove" 
        style="text-align: center; color: #f00; font-size: 80%; display: block; text-decoration: underline;" 
          href="/project/{{ project.name }}/members/{{ member._id }}/remove">
          remove member
        </a>
      {% else %}
        <a class="member_remove" style="text-align: center; color: #f00; font-size: 80%; display: block; text-decoration: underline;
        visibility: hidden;" href="#">
          remove member
        </a>
      {% endif %}

  </li>
{% endfor %} <div class="clear"></div>
</div>
<script type="text/javascript">
function cc_initialize_members() { 
    // Find all the "Administrator?" checkbox forms.
    var forms = $("form.is_owner")

    // Make them ajax forms so they can submit without refreshing the page.
    forms.ajaxForm()
    console.log(forms)

    // Register a callback on the checkbox click so that it can auto-submit
    // the form to update the user's is_owner state in the database.
    forms.find('input[type=checkbox]').click(function(event) {
      $(this.form).ajaxSubmit()
    })

    // Hook up remove member links.
    $("a.member_remove").click(function(event) {
        event.preventDefault()

        var username = $(this).data("username")
        var message = "Are you sure you want to remove " + username + "?"

        var that = this;
        if(confirm(message)) {
            $.ajax({
                type: "GET",

                url: $(this).attr("href"),
                
                success: function(data) {
                    $(that).parent().remove()
                },

                contentType: "application/json;charset=UTF-8"
            })
        } 
    })
}
</script>
<!-- end project_members_container -->
