{% if not card.is_archived %}
<li id="{{ card.card_uuid }}" class="card_item ui-state-default"
  data-pile-id="{{ card.pile_id }}" data-id="{{ card._id }}" 
  data-number="{{ card.number }}" data-title="#{{ card._id }} | {{ card.title }}">
   
  <div>
  <p style="float: left;" class="date"><b>#{{ card._id }}</b> | {{ card.created_as_timezone(luser.profile.timezone) }}</p> 
  <a href="/project/{{ project.name }}/card/{{ card._id }}/archive"
     class="icon archive" style="float: right;"></a>
  </div>
  <div class="clear"></div>

  <!-- card text -->
  <p>
  <span class="card text" data-id="{{ card._id }}">
   
    {% if card.is_completed %}
    <strike>{{ card.text }}</strike>
    {% else %}
    {{ card.text }}
    {% endif %}
  </span>
  </p>
  
  <div>
  <!-- hide score when not in use. -->
    <div style="{% if card.score == 0 or card.score is none %} display: none; {% endif %}float: left;" class="editable
    minicard difficulty" data-card-id="{{ card._id }}" data-score="{{ card.score }}">
  </div>

  <div class="clear"></div>
  
  <div style="float: right;" class="counts">
    <span class="icon attachment_count">A:</span><span class="attachment_count_no">{{ card.attachment_count}}&nbsp;</span>
    <span class="icon comment_count">C:</span><span class="comment_count_no">{{ card.comment_count }}</span>
  </div>
  
  <div class="clear"></div>

  <div class="milestone" style="float: right; {% if card.milestone == None %} display: none; {% endif %}">
    {% if card.milestone.is_approved %}
    <strike>
      {{ card.milestone.name }}
    </strike>
    {% else %}
    {{ card.milestone.name }}
    {% endif %}
  </div>
  </div>
  <div class="clear"></div>
</li>
{% endif %}
