<div class="container _minicard">
  <div class="row">
    <div class="col-md-2">
      <p class="_card_id">#{{ card._id }}</p> 
    </div>
    <div class="col-md-8">
      <p class="_card_created">
        {{ card.created_as_timezone(luser.profile.timezone) }}
      </p> 
    </div>
    <div class="col-md-1">
      <button href="/p/{{ project._id }}/card/{{ card._id }}/archive"
         class="btn _card_archive_button">
          <i class="glyphicon glyphicon-folder-close"/> 
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p class="lead">{{ card.text }}</p>
    </div>

  </div>
</div>

{% if false %}

  </div>
  <div class="clear"></div>

  <!-- card text -->
  <p class="card_title">
    <span class="card text" data-id="{{ card._id }}"
      {% if card.is_completed %}
        style="text-decoration: line-through;"
      {% endif %}>
      {{ card.text }}
    </span>
  </p>

  <div class="clear"></div>
 
  <div>
    <div class="minicard_counts">
      <div class="icon attachment_count">
        <span id="card_{{ card._id }}_attachment_count" 
          class="attachment_count_no">{{ card.attachment_count}}
        </span>
      </div>
      <div class="icon comment_count">
        <span id="card_{{ card._id }}_comment_count" 
          class="comment_count_no">{{ card.comment_count }}
        </span>
      </div>
    </div>

    <div class="milestone_label" style="float: right; {% if card.milestone == None %} display: none; {% endif %}">
      {% if card.milestone.is_approved %}
      <strike>
        {{ card.milestone.name }}
      </strike>
      {% else %}
      {{ card.milestone.name }}
      {% endif %}
    </div>

    <div class="score">
    <!-- hide score when not in use. -->
      <div style="{% if card.score == 0 or card.score is none %} display: none; {% endif %}float: left;" class="editable
      minicard difficulty" data-card-id="{{ card._id }}" data-score="{{ card.score }}">
{% endif %}
