<div class="_minicard" data-id="{{ card._id }}" data-number="{{ card.number }}" data-pile-id="{{ card.pile_id }}">
  <div class="row">
    <div class="col-md-2">
      <p class="_card_id">#{{ card._id }}</p> 
    </div>
    <div class="col-md-8">
      <p class="_card_created">
        {{ card.created_as_timezone(luser.profile.timezone) }}
      </p> 
    </div>
    <div class="col-md-1">
      <div class="dropdown _minicard_menu">
        <i class="glyphicon glyphicon-list" class="dropdown-toggle" data-toggle="dropdown"></i> 
        <ul class="dropdown-menu">
          <li class="_archive_card" data-id="{{ card._id }}"><a href="#">Archive</a></li>
          <li><a href="#">Move</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p class="{% if card.is_completed %}_strike{% endif %} _minicard_title">{% autoescape off %}{{ card.text }}{% endautoescape %}</p>
    </div>
  </div>
</div>
