<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">CodeColab</a>
                <ul style="float: right;" class="nav">
                    <li>
                      <img style="margin-top: 5px;" src="{{ luser.gravatar_url_24 }}" />
                    </li>

                    <li>
                        <a href="/profile/{{ luser._id }}">                             &nbsp;&nbsp;&nbsp;{{ email }}
                        </a>
                    </li>
                    <li>
                        <a href="/logout">Log out</a>
                    </li>
                </ul>
            <div style="clear: both;"></div>
        </div>
    </div>
</div>
