<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">CodeColab</a>
                <ul style="float: right;" class="nav">
                    <li>
                      <img style="margin-top: 5px;" src="{{ luser.gravatar_url_24 }}" />
                    </li>
                    <li>
                        <a class="profile_link" href="/profile/{{ luser._id }}">{{ email }}</a>
                    </li>
                    <li>
                        <a href="/logout">Log out</a>
                    </li>
                </ul>
            <div style="clear: both;"></div>
        </div>
    </div>
</div>
<script>
function show_profile_dialog(url) {
    var options = {
        modal: true,
        title: "Edit Profile",

        resizable: false,
        width: screen.width * 0.5,
        height: 410
    };
    var modal = $("<div></div>").load(url).dialog(options);
}

$(function() {
    $(".profile_link").click(function(e) {
        var url = $(this).attr("href");
        show_profile_dialog(url);
        return false;
    });
});
</script>
