<div>
    <img style="float: left; margin-left: 7px; border: 1px solid #f0f0f0; box-shadow: 1px 1px 3px #aaa; padding: 7px;"
    src="{{ profile.luser.gravatar_url }}" />

    <div style="float: left; margin-left: 7px;">
      <ul style="font-size: 1.3em; list-style-type: none;  padding-left: 7px;">
          <li style="line-height: 2em;">{{ profile.first_name }}</li>
          <li style="line-height: 2em;">{{ profile.last_name }}</li>
          <li style="line-height: 2em;">@{{ profile.username }}</li>
      </ul>
    </div>
  <div class="clear"></div>
</div>
