<?xml version="1.0"?>
<!DOCTYPE html>
<html>
    <head>
        <title>CodeColab</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->


        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />
        <link rel="stylesheet" href="/css/app.css" type="text/css" />
        <link rel="stylesheet" href="/css/project_manage.css" type="text/css" />
        <link href="/css/bootstrap_slate.css" rel="stylesheet" type="text/css" />
        <link href="/css/custom_tooltip.css" rel="stylesheet" type="text/css" />

        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>


        <!-- Begin application code -->
        <script type="text/javascript">
// Run this code when the DOM is ready.
$(function() {
    $(document).tooltip({
      position: {
        my: "left bottom-20",
        at: "left top",
        using: function(position, feedback) {
          $(this).css(position);
          $("<div>")
            .addClass("arrow" )
            .addClass(feedback.vertical)
            .addClass(feedback.horizontal)
            .appendTo(this)
        }
      }
    })
})
///////////////////////////////////////
        </script>
        <!-- End application code -->
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/">CodeColab</a>
                    <ul style="float: right;" class="nav">
                        <li>
                            <a href="{{ profile_url }}">
                                <img style="height: 24px; width: 24px; float: left;" src="{{ gravatar_url }}" />
                                &nbsp;&nbsp;&nbsp;{{ email }}
                            </a>
                        </li>
                        <li>
                            <a href="/logout">Log out</a>
                        </li>
                    </ul>
                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>
        <div class="content">
            <div>
                <h3 class="title">Project Manager: {{ project.name }}</h3>
                <hr />
            </div>
            <div id="milestones_container">
                <h4>Milestones</h4>
                
                <table id="milestones">
                <!-- loop through each milestone -->
                {% for milestone in project.milestones %}

                    <!-- print the table header -->
                    {% if loop.first %}
                        {% set i = 0 %}
                        {% for name in milestone.stat_names %}
                            <th title="{{ milestone.stat_tooltips[i] }}">
                                {{ name }}
                            </th>
                            {% set i = i + 1 %}  
                        {% endfor %}                     
                    {% endif %}

                    <tr>
                        {% for stat in milestone.stats %}
                            <td>{{ stat }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}

                </table>

                <form action="/project/{{ project.name }}/milestones/add" 
                      id="form_add_milestone" 
                      method="POST">
                   
                    <ul class="structural horizontal_left">
                        <li>
                            <input id="milestone" type="text" name="name" 
                                   placeholder="Milestone..." />
                        </li>

                        <li>
                            <input id="add_milestone" type="submit" name="submit" 
                                   value="Add Milestone" class="btn" />
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </body>
</html>
