{% extends "navbar.html" %}
{% block tabs %}
{% set clazz = "" %}

{% if luser.last_tab == "dashboard" %}
    {% set clazz = "active" %}
{% endif %}
<li class="{{ clazz }} _tab" data-tab="dashboard">
  <a href="#">
    <i class="glyphicon glyphicon-home"></i>
    &nbsp;&nbsp;Home
  </a>
</li>
{% set clazz = "" %}

{% if luser.last_tab == "boards" %}
    {% set clazz = "active" %}
{% endif %}
<li class="{{ clazz }} _tab" data-tab="boards">
  <a href="#">
    <i class="glyphicon glyphicon-list-alt"></i>
    &nbsp;&nbsp;Boards
  </a>
</li>
{% set clazz = "" %}

{% if luser.last_tab == "progress" %}
    {% set clazz = "active" %}
{% endif %}
<li class="{{ clazz }} _tab" data-tab="progress">
  <a href="#">
    <i class="glyphicon glyphicon-signal"></i>
     &nbsp;&nbsp;Progress
  </a>
</li>
{% set clazz = "" %}
{% endblock %}

{% block subnav %}
<div id="__subnav" class="clearfix">
    <div class="pull-left">
        <h1>
            <span id="__project_name"></span>
        </h1>
    </div>
    <div class="pull-right">
        <div class="form" role="form" id="__add_pile_form">
            <div class="form-group _no_margin pull-left">
                <input type="text" id="__add_pile_input" class="form-control"></input>
            </div>
            <div class="form-group _no_margin pull-left">
                <button id="__btn_add_pile" class="btn btn-sm btn-primary">Add Pile</button> 
            </div>
        </div>
    </div>
</div>
{% endblock %}
