{% include "head.html" %}
<div class="content">
  <div id="subnav">
    <div id="project_name">
      <a href="#">
          <div style="float: left; margin-top: 13px;" class="icon project"></div>
          <h3 style="float: left; margin-top: 10px;">
            &nbsp;{{ project.name }}
          </h3>
      </a>
    </div> 

    <div style="background-color: #ccc; padding: 7px; margin-bottom: 7px;
                 float: left;">
      <form id="card_search" action="/p/{{ project.name }}/search_cards">
        <div style="float: right;">
          <div class="clear"></div>
          <div style="float: left; margin-right: 7px;">
            <select style="min-width: 100px; margin-top: 4px;" name="type" id="select_criteria">
              <option value="full_text">Search</option>
              <option value="tag">Tag</option>
              <option value="creator">Creator</option>
              <option value="date_range">Date Range</option>
            </select>
          </div>
          <input style="float: left;" type="text" name="q" id="q" placeholder="Enter Search..." />

          <div style="float: left;" id="datepickers">
            <div style="float: left;">
              <input disabled placeholder="Start Date" style=" margin-bottom: 3px;width: 100px; " type="text" name="start_date" id="start_date"/>
            </div>

            <div style="float: left;">
              <input disabled placeholder="End Date" style="width: 100px; float: left;" type="text" name="end_date" id="end_date"/>
            </div>
          </div>


          <input style="margin-top: 1px; margin-left: 7px; float: left;" type="submit" name="submit" value="search" class="btn" />

          <input style="margin-top: 1px; display:none; margin-left: 7px; float: left;" type="submit" name="submit" value="clear" class="btn" />

      <p style="line-height: 1em; display: none; float: right; margin: 7px;" class="locked_indicator">Sorting is disabled during searches.</p>
        </div>
        <div class="clear"></div>
      </form>
    </div>

    <div class="buttons">
      <a href="/project/{{ project.urlencoded_name }}/archives"
       class="btn">
       <div class="label" style="float: left">Archives&nbsp;</div>
       <div class="icon archive"></div>
      </a>
    </div> 
    <div style="padding-top: 7px;" id="toolbox">

      <form id="add_list_form" action="/{{ project.urlencoded_name }}/piles/add" method="POST">

      <input type="hidden" name="project_name" value="{{ project.name }}" />

      <ul id="toolbox-list" class="controls structural horizontal_right">
        <li>
          <input type="submit" name="submit" value="Add Pile" class="btn"/>
        </li>
        <li>
          <input type="text" placeholder="pile name..." name="text" id="text"/>
        </li>
      </ul>

      </form>
    </div>
  </div>

  <div class="clear"></div>

  <div id="piles">
  <ul id="pile_list">

  {% for pile in project.piles %}
    {% if not pile.is_deleted %}
      {% include "list.html" %}
    {% endif %}
  {% endfor %}

  </ul>

  </div>

  {% include "activity.html" %}

</div>

<!--<script src="/js/underscore.js"></script> -->
<script src="/js/lodash.min.js"></script> 
<script src="/js/s3upload.js"></script>

<script src="/pagedown/Markdown.Converter.js"></script>
<script src="/pagedown/Markdown.Sanitizer.js"></script>
<script src="/pagedown/Markdown.Editor.js"></script>

<script src="/js/project.js"></script>
<script src="/js/jquery.jscroll.js"></script>
<script src="/js/activity_feed.js"></script>
<script>


var activity_feed = new ActivityFeed({
    user_id: "{{ luser._id }}",
    toggle_icon_show: require('.activity_toggle_icon.show'),
    toggle_icon_hide: require('.activity_toggle_icon.hide'),
    toggle: require('#activity_toggle'),
    list_container: require('#activity_list_container'),
    list: require('#activity_list'),
    container: require('#activity_container'),
    piles: require('#piles')
});


function handle_archive_click(event) {
    event.preventDefault()

    var that = this;
    $.ajax({
        type: "GET",
        url: $(this).attr("href"),
        
        success: function(data) {
            $(that).parent().parent().remove()
            cc_activity_reload()
        },

        contentType: "application/json;charset=UTF-8"
    })
}

// Run this code when the DOM is ready.
$(function() {
  // Keep the container at the correct width
  recalculate_container_width()

  // Make to-do lists sortable by dragging and save changes in the database.
  // Read pile ids via jinja2.
  pile_ids = {{ json_pile_ids|safe }}
  
  // Obtain reference to the project's name 
  project_name = "{{ project.name }}"

  // Initialize project page
  cc_project_init(project_name, pile_ids) 

  $(".editable.difficulty").each(function(i, elem) {
    elem = $(elem)
    cc_connect_raty_score(elem, project_name, elem.data("card-id"), false)
  })

  // Async list add
  $("#add_list_form").ajaxForm({
    success: function(data) {
      $("ul#pile_list").append(data); 

      var new_pile = $("ul#pile_list > li > ul").last(); 
      
      var width = recalculate_container_width();

      cc_init_list_controls("#pile_" + new_pile.data("id") + " ");
      cc_initialize_lists();

      console.log("new_pile...");
      console.log(new_pile);

      cc_initialize_cards("#" + new_pile.attr("id") + " > ");

      cc_make_list_sortable($("ul#pile_list > li > ul.card_list").last());
      // finally, scroll the piles div all the way to the right so it 
      // can be seen
      $("div#piles").animate({ scrollLeft: width });
      $('#add_list_form input[type="text"]').val("");
    }
  });

  cc_init_list_controls("")
})

function delete_list(project_name, list_id, callback) {
    $.ajax({
        type: "GET",
        url: "/" + project_name + "/list/" + list_id + "/delete",
        
        success: function(data) {
            callback(data)
        },

        contentType: "application/json;charset=UTF-8"
    })
}

$(function() {
  var user_id = "{{ luser._id }}";
  cc_connect_profile_links(".navbar ", user_id);
});

$(function() {
    $('#datepickers').hide();

    var options = {
      showOn: 'both',
      buttonImage: '/assets/calendar.gif',
    };

    $('#start_date').datepicker(options);
    $('#end_date').datepicker(options);
      
    $("#select_criteria").select2({
        minimumResultsForSearch: 10
    }).change(function(ev) {
        var selection = $(this).val();

        if (selection == 'date_range') {
            $('#datepickers').show();
            $('#start_date').prop('disabled', false);
            $('#end_date').prop('disabled', false);
            $('#q').hide().prop('disabled', true);
        } else {
            $('#datepickers').hide();
            $('#start_date').prop('disabled', true);
            $('#end_date').prop('disabled', true);
            var hint = 'Enter ' + $(this).find(':selected').text() + '...';
            $('#q').show().prop('disabled', false).attr('placeholder', hint);
        }
    });

    $('button').first().css('margin-right', '7px');
});
</script>
<!-- END: JS -->

</body>
</html>
