{% include "header.html" %}
{% include "project_navbar.html" %}

{% assets "boards_js" %}
<script src="{{ ASSET_URL }}" type="text/javascript"></script>
{% endassets %}
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js">
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.32/jquery.form.js">
</script>

<div class="container _content">
  <div class="row _flexrow">
    <div id="__project_navbar" class="bs-docs-sidebar">


        <ul class="nav nav-pills nav-stacked affix-top" id="__project_sidenav">
        <li>

        <div style="padding: 10px;" class="clearfix form" role="form">
          <input style="margin-bottom: 10px;" type="text" class="form-control" id="__project_name_input" placeholder="Name..."></input>
          <button class="btn pull-right btn-sm btn-primary" id="__add_new_project">Add Project</button>
        </div>
        </li>
        {% for p in projects %} 
          {% include "project_item.html" %}        
        {% endfor %}
        </ul>

        <div class="_toggle_side" id="__toggle_project_selection">
            <div>
              <i class="glyphicon glyphicon-chevron-right"></i>
            </div>
        </div>
    </div>

    <div id="__project_wrapper">
      <div id="__project_page_container">
      </div>
    </div>
    <div id="__activity_container">
      <div class="_toggle_side" id="__toggle_activity">
	  <!-- hidden because it wasn't aligning properly on hotel PC. -->
          <div style="display: none;">
            <i class="glyphicon glyphicon-chevron-left"></i>
          </div>
      </div>
      <div class="_activity" id="__activity">
        {% autoescape off %}
        {% for a in project.activity %}
        <div class="_activity_item">
          {{ a.description }}
        </div>
        {% endfor %}
        {% endautoescape %}
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
</div> 
<div class="loading" style="display: none; position: absolute; top:0; left:0; width: 100%; height: 100%;
background-image:url('/assets/loading.gif'); background-position: center center; background-repeat: no-repeat; background-color: rgba(0, 0, 0, 0.5); z-index: 99999;">
</div>
{% include "footer.html" %}

<script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
<script type="text/javascript">
// <jinja2>
var last_project_id = {{ luser.last_project_id }};
var last_tab = "{{ luser.last_tab }}";
// </jinja2>

$(".container").css("max-width", "none");

// stub so we can replace with nicer alert.
function cc_alert(msg) {
  alert(msg);
}

function px_to_int(px_str) {
  if (px_str === undefined) return 0;
  return parseInt(px_str.replace("px", ""), 10);
}

function calculate_max_height() {
  // call this code in the repl after loading the page to calculate the value 
  // for margin:
  // px_to_int($("#__subnav").css("margin-top"));
  var bottom_padding = 30; // Leave it, this represents the negative space below the 
                           // content area.
  var margin = 40;
  var diff = + $("#__subnav").height() + margin + bottom_padding;
  return window.innerHeight - diff;
}

function update_selection_dimensions() {
  $("#__project_navbar").css("min-height", calculate_max_height());
  $("#__project_navbar").css("max-height", calculate_max_height());
  $("#__project_sidenav").css("max-height", calculate_max_height());
  $("#__activity").css('max-height', calculate_max_height());

  $("#__toggle_project_selection > div").css("margin-top", $("#__toggle_project_selection").height() / 2 - 14);
  $("#__toggle_activity > div").css("margin-top", $("#__toggle_activity").height() / 2 - 14);
}

function load_project_page(tab, project_id) {
  $(".loading").show();

  // it's a kludge but it works.
  if (tab != "boards") {
    $("#__add_pile_form").fadeOut();
  } else {
    $("#__add_pile_form").fadeIn("slow");
  }

  $("#__project_page_container").load("/project_id/" + project_id + "/" + tab,
    function() { $(".loading").hide(); });
}


$(document).ready(function() {
  update_selection_dimensions();
  $(window).resize(update_selection_dimensions);


  // handle switching projects
  //----------------------------------------------------------------------
  var _nav_link_switcher = function() {
    var link = $(this).find("a");
    $("#__project_name").text(link.text());
    var project_id = link.data("id");

    if (project_id != last_project_id) {
      $("._project_nav_link").removeClass("active");
      $(this).addClass("active");

      load_project_page(last_tab, project_id);
      last_project_id = project_id;
    }

    return false;
  };
  $("._project_nav_link").click(_nav_link_switcher);

  if (last_tab != "boards") {
    $("#__activity_container").hide();
  } else {
    $("#__activity_container").show();
  }

  // handle switching project pages, via tabs
  //----------------------------------------------------------------------
  $("._tab").click(function() {
    var tab = $(this).data("tab"); 

    if (tab != "search") {
      _clear_search_form();
    }

    if (tab != "boards") {
      $("#__activity_container").hide();
    } else {
      $("#__activity_container").show();
    }

    if (tab != last_tab) {
      $("._tab").removeClass("active");
      $(this).addClass("active");       
      load_project_page(tab, last_project_id);
      last_tab = tab;
    }
  });

  $("#__toggle_project_selection").click(function() {
    $("#__project_sidenav").toggle();
  });

  $("#__toggle_activity").click(function() {
    $("#__activity").toggle();
  });

  // initialize search
  $('.datepickers').hide();

  $('#start_date').datepicker({});
  $('#end_date').datepicker({});
    
  $("#select_criteria").select2({
      minimumResultsForSearch: 10
  }).change(function(ev) {
      var selection = $(this).val();

      if (selection == 'date_range') {
          $('.datepickers').show();
          $('#start_date').prop('disabled', false);
          $('#end_date').prop('disabled', false);
          $('#q').hide().prop('disabled', true);
      } else {
          $('.datepickers').hide();
          $('#start_date').prop('disabled', true);
          $('#end_date').prop('disabled', true);
          var hint = $(this).find(':selected').text() + '...';
          $('#q').show().prop('disabled', false).attr('placeholder', hint);
      }
  });

  $('#card_search').ajaxForm({
      success: function(data) {
        if (data.is_cleared) {
        }
      }
  });
    
  $("#card_search").show();

  $("#__search_btn").click(function() {
    var query = $("#card_search").formSerialize();
    console.log(query);

    $("._tab").removeClass("active");
    $("._tab[data-tab=\"search\"]").addClass("active");       
    last_tab = "search?" + query;

    load_project_page("search?" + query, last_project_id);
    return false;
  });

  var _clear_search_form = function() {
      $('input[name="q"]').val("").show().prop('disabled', false).attr('placeholder', 'Search Text...');
      $('#select_criteria').select2("val", "full_text");
      $('input[name="end_date"]').val("").prop('disabled', true);
      $('input[name="start_date"]').val("").prop('disabled', true);
      $('.datepickers').hide();
  };

  $("#__clear_btn").click(function() {
      _clear_search_form();

      // only refresh to a parameterless search if on the search tab.
      if (last_tab.indexOf("search") == 0) {
        last_tab = "search";
        load_project_page(last_tab, last_project_id);
      } 

      return false;
  });

  // Load the correct project name when the page is loaded.
  $("#__project_name").text($("a[data-id="+last_project_id+"]").text());

  // Load project content for correct tab when the page is loaded.
  load_project_page(last_tab, last_project_id);

  var _post_new_project = function(name) {
    $.post("/project/add", { name : name }, function(html) {
        $(html).insertAfter("#__project_sidenav li:first");
        $("._project_nav_link").unbind("click");
        $("._project_nav_link").click(_nav_link_switcher);
        $("#__project_sidenav li:first a").click();
    });
  };

  $("#__project_name_input").keydown(function(ev) {
    if (ev.keyCode == 13) {
      _post_new_project($(this).val());
    }
  });

  $("#__add_new_project").click(function() {
    _post_new_project($("#__project_name_input").val());
  });
});

</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js">
</script>
</body>
</html>
