{% include "head.html" %}
<div class="content project_manage">
  <div>
    <h3 class="title">Progress <a href="/project/{{ project.name }}">{{ project.name }}</a></h3>
  </div>
  <hr />

  <div id="stats_container">
    <h4>Statistics</h4>

    <h5>Team Cadence</h5>
    <div id="team_cadence"></div> 
  </div>

  <div id="milestones_container">
  <h4>Milestones</h4>
  
  <table id="milestones">
  <!-- loop through each milestone -->
  {% for milestone in project.milestones %}

    <!-- print the table header -->
    {% if loop.first %}
    {% set i = 0 %}
    {% for name in milestone.stat_names %}
      <th title="{{ milestone.stat_tooltips[i] }}">
      {{ name }}
      </th>
      {% set i = i + 1 %}  
    {% endfor %}       
    {% endif %}

    <tr>
    {% for stat in milestone.stats %}
      <td>
      <!-- if this is the 'milestone' stat, inject an
      approve button into the table cell -->
      {% if loop.first and is_owner %}
        <a style="float: right" href="/project/{{ project.name }}/milestone/{{ milestone._id }}/accept"
        data-state="{{ milestone.is_approved }}"
        class="btn accept_milestone ">
        {% if milestone.is_approved %}
          <span class="true">Accepted <span class="icon">&nbsp;&#10003;</span></span>
          <span style="display: none;" class="false">Accept</span>
        {% else %}
          <span style="display: none;" class="true">Accepted &#10003;</span>
          <span class="false">Accept</span>
        {% endif %}
      {% endif %}
      </a>&nbsp;
      {{ stat }}
      <div class="clear"></div> 
      </td>
    {% endfor %}
    </tr>
  {% endfor %}

  </table>

  <br />
  <form style="float: right;" action="/project/{{ project.name }}/milestones/add" id="form_add_milestone" method="POST">
     
    <ul class="project_manage structural horizontal_left">
    <li>
      <input id="milestone" type="text" name="name" placeholder="Milestone..." />
    </li>

    <li>
      &nbsp;&nbsp;<input id="add_milestone" type="submit" name="submit" value="Add Milestone " class="btn" />
    </li>
    </ul>
  </form>
  <div class="clear"></div>
  </div>
  <!-- end milestones_container -->
</div>

{% include "common_js.html" %}


<script type="text/javascript" src="/js/jqBarGraph.1.1.min.js"></script>
<script type="text/javascript">

  

// Run this code when the DOM is ready.
$(function() {
  // Draw bar chart for team cadence. (array is from template)
  var data = {{ team_cadence_data|safe }}

  $("#team_cadence").jqBarGraph({data: data, color: "#555", width: 800 })

  // Show tooltips on the table headings on mouseover.
  $(document).tooltip({
    position: {
      my: "left bottom-20",
      at: "left top",
      using: function(position, feedback) {
        $(this).css(position);
        $("<div>")
        .addClass("arrow" )
        .addClass(feedback.vertical)
        .addClass(feedback.horizontal)
        .appendTo(this)
      }
    }
  })

  // Handle clicks on the 'Accept' button. Toggle state
  // of acceptance against the backend and update the DOM.
  $("a.accept_milestone").click(function(event) {
      event.preventDefault()
      var that = this;

      // Instead, post the state to the href of the link.
      $.ajax({
            type: "POST",
            url: $(this).attr("href"),

            // Get the new state each time we submit, to toggle.
            data: JSON.stringify({state: $(that).data("state") == "True" }),
            
            success: function(data) {
            console.log(data)
            var toggle = $(that)
            
            if (data.state) {
                // Update the toggle button state
                toggle.find("span.true").show()
                toggle.find("span.false").hide()
                toggle.data("state", "True")
            } else {
                // Update the toggle button state
                toggle.find("span.true").hide()
                toggle.find("span.false").show()
                toggle.data("state", "False")
            }
        }, 
        contentType: "application/json;charset=UTF-8" 
      })
  })
})
</script>
