{% include "header.html" %}
{% include "project_navbar.html" %}
<div class="container _content">
  <div class="row _flexrow">
    <div id="__project_navbar" class="bs-docs-sidebar">
        <ul class="nav nav-pills nav-stacked affix-top" id="__project_sidenav">
        {% for p in projects %} {% if p._id == luser.last_project_id %}
            {% set active = "active" %}
          {% endif %}
          <li class="_project_nav_link {{ active }}">
          {% set active = "" %}
            <a data-id="{{ p._id }}" class="active">
              {{ p.name }}
              <div class="clearfix"></div>
            </a>
          </li>
        {% endfor %}
        </ul>
        <div class="_toggle_side" id="__toggle_project_selection">
            <div>
              <i class="glyphicon glyphicon-chevron-right"></i>
            </div>
        </div>
    </div>

    <div id="__project_wrapper">
      <div id="__project_page_container">
        {% include "dashboard.html" %}
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
</div> {% include "footer.html" %}
<script type="text/javascript">
$(".container").css("max-width", "none");

// stub so we can replace with nicer alert.
function cc_alert(msg) {
  alert(msg);
}

function px_to_int(px_str) {
  return parseInt(px_str.replace("px", ""), 10);
}

function calculate_max_height() {
  var diff = px_to_int($("._content").css("margin-top"));
  return window.innerHeight - diff - 15;
}

function update_selection_dimensions() {
  $("#__project_navbar").css("min-height", calculate_max_height());
  $("#__toggle_project_selection > div").css("margin-top", $("#__toggle_project_selection").height() / 2 - 14);
}

function load_project_page(tab, project_id) {
  $.get("/project_id/" + project_id + "/" + tab, function(data) {
    $("#__project_page_container").html(data);
  }).fail(function() {
    cc_alert("error loading page.");
  });
}


$(document).ready(function() {
  update_selection_dimensions();
  $(window).resize(update_selection_dimensions);

  // When loading the index, the last project the user visited is 
  // restored.
  var last_project_id = {{ luser.last_project_id }};

  // remembering the last tab the user was on is not currently planned,
  // so default it to the dashboard.
  var last_tab = "dashboard";

  // handle switching projects
  //----------------------------------------------------------------------
  $("._project_nav_link").click(function() {
    var project_id = $(this).find("a").data("id");

    if (project_id != last_project_id) {
      $("._project_nav_link").removeClass("active");
      $(this).addClass("active");

      load_project_page(last_tab, project_id);
      last_project_id = project_id;
    }

    return false;
  });

  // handle switching project pages, via tabs
  //----------------------------------------------------------------------
  $("._tab").click(function() {
    var tab = $(this).data("tab"); 
    if (tab != last_tab) {
      $("._tab").removeClass("active");
      $(this).addClass("active");       
      load_project_page(tab, last_project_id);
      last_tab = tab;
    }
  });

  $("#__toggle_project_selection").click(function() {
    $("#__project_sidenav").toggle();
  });
});
</script>
</body>
</html>
