<div class="report_header">

  <div class="report_info_section">
    <h4>{{ report.subject }}</h4>
    <small>On {{ report.created_as_timezone(luser.profile.timezone) }}</small>
  </div>

  <div class="user_info_section">
    <img src="{{ report.luser.gravatar_url_48 }}"/>
    <div class="clear"></div>
    <a href="/profiles/{{ report.luser._id }}" class="username">@{{ report.luser.profile.username }}</a>
    <div class="clear"></div>
  </div>

  <div class="clear"></div>
</div>

<div class="report_summary">
  <div>
{{ report.text | markdown}}
  </div>

  {% include "report_comments.html" %}
</div>
