{% include "head.html" %}
{% include "common_js.html" %}
<div class="content">
  
  <div style="display: none;" class="tabs_container">
    <a id="tab_team_reports" class="tab" href="#">Team Reports</a>
    <a id="tab_create_report" class="tab" href="#">Create Report</a>
  </div>  

  <div class="section">
    {% include "team_reports.html" %}
    {% include "create_report.html" %}
  </div>
</div>


<script src="/js/underscore.js"></script>
<script src="/js/jquery.jscroll2.js"></script>
<script src="/js/reports_page.js"></script>
<script>
$(function() {
    var reports_page = new ReportsPage();
});
</script>
{% include "foot.html" %}
