<div class="report_header">

  <div class="report_info_section">
    <h4>{{ report.subject }}</h4>
    <small>On {{ report.created_as_timezone(luser.profile.timezone) }}</small>
  </div>

  <div class="user_info_section">
    <img src="{{ report.luser.gravatar_url_48 }}"/>
    <div class="clear"></div>

    {% if luser._id == report.luser._id %}
      {% set mine = "" %}
    {% else %}
      {% set mine = "_notmine" %}
    {% endif %}
    <a class="profile_link{{mine}}" href="/profile/{{ report.luser._id }}" class="username">@{{ report.luser.profile.username }}</a>
    <div class="clear"></div>
  </div>

  <div class="clear"></div>
</div>

<div class="report_summary">   
  <div data-text="{{ report.text }}" data-id="{{ report._id }}" class="{% if luser._id == report.luser._id %}editable_report{% endif %}">
{{ report.text | markdown }}
  </div>

  {% include "report_comments.html" %}
</div>
